.game{
    padding:15px;
    border-bottom: 1px solid #ccc;
    position: relative;
    .game-logo img{
        float:left;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }

    .game-content{
        position: relative;
        .game-price{
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: 14px;
            .price{
                font-size: 22px;
                font-weight: bold;
            }
        }
        .game-duration{
            position: absolute;
            top: 30px;
            right: 10px;
            font-size: 12px;
            .duration{
                font-size: 14px;
                font-weight: bold;
            }
        }
        .title{
            font-size: 22px;
            color:var(--color-primary);
            .people{
                font-size: 14px;
            }
        }
        .rating i{
            margin-bottom: 10px;
            color:var(--color-primary);
            display: inline-block;
        }
        .rating{
            .stars{
                width: auto;
                display: inline;
                float: left;
            }
            .ratings{
                padding: 0;
                width: auto;
                float: left;
            }
        }
        .categories{
            padding:5px;
            margin-bottom: 10px;
            span{
                margin-right: 5px;
                width: auto;
                display: inline;
                float: left;
                padding:5px 15px 5px 15px;
                border-radius: 25px;
            }
         }
             
         
        .data p{
            font-weight: 100;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .address{
            font-size: 12px;
            color:gray;
        }
    }
}
.game:hover{
    background-color: rgba(33,33,33,0.05);
    cursor: pointer;
}