<div class="scape row">
    <div class="scape-logo col-md-3">
        <img [src]="scape.image" alt="">
    </div>
    <div class="scape-content col-md-9">
        <div class="title row">
            <p>{{scape.name}}</p>
        </div>

        <div class="rating row">
            <div class="stars">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa-regular fa-star"></i>
            </div>
            <div class="ratings">
                <p>{{scape.reviews}} Opiniones</p>
            </div>

        </div>
        <div class="categories row">
            <span [style.background-color]="'var(--color-primary-light)'" [style.color]="'var(--color-primary)'">
                ScapeRoom </span>
            <span [style.background-color]="'var(--laser-tag-category-background)'"
                [style.color]="'var(--laser-tag-category-color)'"> Aventuras </span>

        </div>
        <div class="address row">
            <p>{{scape.address}}</p>
        </div>
        <div class="data row">
            <p>{{scape.description}}</p>
        </div>
    </div>

</div>