<div class="open-reservation" *ngIf="reservation">



    <div class="reservation-data">
        <div class="reservation-header">
            <h1 class="title">Reserva FUNLY <img src="assets/imgs/box-transparent.svg " style="width:25px ;"></h1>
        </div>
        <div class="text-divider" [style.color]="reservation.game_category?.color">Hoy
            {{reservation.game_reservation_hour?.hour| slice:0:5}}</div>

        <div class="reservation-open" 
            *ngIf="!reservation.closed && reservation.countdown">
            <span class="reservation-countdown">
                <span class="reservation-people-label">
                    <em class="fa fa-user-group"></em>{{reservation.users?.length}}/{{reservation.max_people}} </span>

                <span class="countdown" *ngIf="!reservation.closed"> <em class="fa-regular fa-clock"></em>
                    {{reservation.countdown}}</span></span>



        </div>

        <div class="reservation-closed" *ngIf="reservation.closed">
            <span class="reservation-countdown"><span class="reservation-people-label">
                    <em class="fa fa-user-group"></em>{{reservation.users?.length}}/{{reservation.max_people}}
                </span> Plazo Cerrado</span>
        </div>
        <div class="people">
            <p class="remaining-people" *ngIf="reservation.users?.length! < reservation.min_people!">Quedan <span
                    [style.color]="reservation.game_category?.color">{{reservation.min_people! -
                    reservation.users?.length!}} <i class="fa fa-user-group"></i> </span> para poder empezar</p>

            <p class="remaining-people" *ngIf="reservation.users?.length! >= reservation.min_people!">¡Listo para poder
                empezar!</p>

            <div *ngIf="people?.length!>0">
                <div [ngClass]="user.id == 0 ? reservation.closed ? 'user-closed'  : 'user-open' : 'user'"
                    *ngFor="let user of people;let i =index">
                    <img class="avatar" [src]="user.avatar" alt="">
                    <p class="user-name">{{user.name}}</p>
                </div>

            </div>


        </div>

        <div class="reservation-price row">
            <div class="reservation-button col-4" [style.background-color]="reservation.game_category?.color">
                <p class="price">Únete a la reserva <span>{{reservation.price_per_user}}€</span> </p>
            </div>
        </div>
    </div>
</div>