<div class="chat-container">
    <div class="no-chats" [hidden]="chats?.length!>0 || (loading.isLoading | async)">
        <p>No tienes ningún chat activo, realiza una reserva!</p>
        <button routerLink="/search">Reservar</button>
    </div>
    <div class="chats-content row">
        <div class="chats-sidebar {{selected_chat_id ? 'selected' : ''}} justify-content-center col-md-4 col-12 " *ngIf="chats?.length!>0">
            <div class="chats-searchbar-container row justify-content-center">
                <div class="col-12">
                    <input class="chats-searchbar col-12" type="searchbar" placeholder="Buscar chat">
                    <i class="search-icon fa fa-search"></i>
                </div>
            </div>
            <div class="chats-items-container col-12">
                <div [ngClass]="selected_chat_id == chat.id ? 'chats-item row selected' :'chats-item row' "
                    *ngFor="let chat of chats" (click)="selectChat(chat.id!)">
                    <div class="col-lg-2 col-3 my-auto text-center">
                        <img class="chat-image" [src]="chat.image" alt="">
                    </div>
                    <div class="col-lg-10 col-9 my-auto">
                        <p class="chat-name">{{chat.name}} <span class="chat-hour">{{chat.last_message?.created_at|
                                date:'HH:mm'}}</span></p>
                        <p>{{chat.open_reservation?.date | date:'dd-M-yy'}} -
                            {{chat.open_reservation?.game_reservation_hour?.hour | slice:0:5}}</p>
                        <p class="chat-last-message" *ngIf="chat.last_message">
                            <!-- <img class="avatar"
                                [src]="chat.last_message.user?.avatar" alt="" onError="this.src='assets/imgs/avatar.png'"> -->
                            <b> {{chat.last_message.user?.name}}</b>:
                            {{chat.last_message.text}}
                        </p>
                        <p class="chat-last-message" *ngIf="!chat.last_message">Sin mensajes aún</p>
                        <span class="new-messages-count"
                            *ngIf="chat.unread_messages_count">{{chat.unread_messages_count}}</span>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-lg-8 col-12 void-text" *ngIf="chats?.length!>0 && !selected_chat_id">
            <p>Selecciona un chat para ver sus mensajes</p>
        </div>
        <div class="col-md-8 col-12 interior-chat " *ngIf="selected_chat_id && chats?.length!>0">
            <app-interior-chat [chat_id]="selected_chat_id"></app-interior-chat>
        </div>
    </div>

</div>