
.chat-container {
    width: 100%;
    overflow-y:hidden;
    height: 92vh;
    
    .void-text {
        font-size: 26px;
        top: 50%;
        position: absolute;
        left: 50%;
        font-weight: bold;
        transform: translateY(-50%);
    }
    .chats-content {
        height: 100%;
        .chats-sidebar {
            height: 100%;
            padding: 0;
            background-color: var(--dark-background);
            background-image: url(../../../assets/imgs/box-transparent-dark.svg);
            background-repeat: space;
    
            background-size: 150px;
            border-right: 0.5px solid #ccc;
            .chats-searchbar-container {
                width: 100%;
                background:var(--chat-message-left-background);
                padding: 20px;
                position: relative;
                .search-icon {
                    left: 40px;
                    top: 39px;
                    position: absolute;
                    color:var(--color-primary);

                }
            }
            .chats-searchbar {
                border: none;
                background: white;
                border-radius: 25px;
                width: 100%;
                padding: 15px;
                padding-left: 40px;
            }
            .chats-searchbar:focus {
                outline: none ;
                border: 2px solid var(--color-primary);
                
            }
           
            .chats-sidebar-title {
                font-weight: bold;
                font-size: 22px;
                text-align: center;
                padding: 20px;
                border-bottom: 0.5px solid #ccc;
                margin: 0;
            }
            .chats-items-container {
                padding: 0px 20px;
                overflow-y: scroll;
                height: 100%;
                color:white;
                .chats-item {
                    .chat-last-message{
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    padding: 15px;
                    border-radius: 10px;
                    cursor: pointer;
                    .chat-image {
                        border-radius: 50%;
                        width: 75px;
                        height: 75px;
                        object-fit: cover;
                    }
                    .chat-hour {
                        font-weight: normal;
                        float: right;
                        font-size: 14px;
                    }
                    .chat-name {
                        font-weight: bold;
                        font-size: 18px;
                    }
                }
                .chats-item:hover {
                    background: var(--color-primary-light);
                    scale: 1.005;
                }
            }
        }

        .interior-chat {
            padding: 0;
            position: relative;
            height: 100%;
           
            .chat-title-container {
                background: white;
                padding: 0;
                margin: 0;
                border-bottom: 0.5px solid #ccc;
                padding: 20px;
                .chat-users{
                    margin-top: 10px;
                    text-align: center;
                    .user-avatar{
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        box-shadow: var(--item-box-shadow);
                        object-fit: cover;
                    }
                }
                .chat-image{
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                }
                .chat-title {
                    font-weight: bold;
                    font-size: 22px;
                    text-align: center;
                    margin: 0;
                }
                .chat-hour{
                    font-weight: normal;
                    font-size: 12px;
                }
            }
            .messages-container {
                padding: 50px 70px 20px 40px;
                overflow-y: scroll;
                height: 100%;
                padding-bottom: 200px;
                .no-messages-text{
                    text-align: center;
                    font-size: 22px;
                    margin-top: 50px;
                }
                .message-container {
                    margin-bottom: 20px;
                    .user-image {
                        padding: 0;
                        text-align: center;
                        img {
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;
                            object-fit: cover;
                        }
                    }

                    .message {
                        padding: 10px 10px 5px 10px;
                        border-radius: 10px;
                        box-shadow: var(--item-box-shadow);
                        background: var(--color-primary-light);
                        color: white;
                        margin-bottom: 10px;
                        max-width: 75%;
                        display: inline-block;
                        .message-user {
                            font-weight: bold;
                            margin: 0;
                        }
                        .message-text {
                            font-size: 16px;
                        }
                        .message-hour {
                            margin: 0;
                            text-align: right;
                            font-size: 12px;
                        }
                    }
                    .message-left {
                        float: left;
                        background: var(--chat-message-left-background);
                    }
                    .message-right {
                        float: right;
                        background: var(--chat-message-right-background);
                    }
                }
            }

            .chat-footer {
                width: 100%;
                margin: 0 auto;
                padding-top: 10px;
                text-align: center;
                position: fixed;
                left: 32%;
                bottom: 50px;
                width: 70%;
                .input-container {
                    position: relative;
                    .send-button,
                    .audio-button {
                        cursor: pointer;
                        box-shadow: var(--item-box-shadow);
                        background: white;
                        border: none;
                        border-radius: 10px;
                        padding: 15px;
                        margin-left: 10px;

                        i {
                            font-size: 18px;
                            color: var(--color-primary);
                        }
                    }
                    
                    .send-button:hover,
                    .audio-button:hover {
                        background: #f8e5d3;
                    }
                    .message-input {
                        width: 60%;
                        box-shadow: var(--item-box-shadow);
                        background: white;
                        border: none;
                        border-radius: 10px;
                        padding: 15px;
                        font-size: 16px;
                    }
                    .message-input:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
