
.chat-container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    .interior-chat{
        padding: 0 !important;
    }  

    .no-chats{
        text-align: center;
        p{
            text-align: center;
            margin-top: 30vh;
            padding:10px;
            font-weight: bold;
            font-size: 20px;
        }
        button{
            border-radius: 25px;
            width: auto;
            border:none;
            color:white;
            padding:10px 20px;
            background: var(--color-primary);
        }
        
    }
    .void-text p{
        font-size: 26px;
        margin-top: 42vh;
        text-align: center;
        font-weight: bold;
        transform: translateY(-50%);
    }

    .chats-content {
        .chats-sidebar {
            padding: 0;
            border-right: 0.5px solid #ccc;
            background-color: var(--dark-background);
            background-image: url(../../../assets/imgs/box-transparent-dark.svg);
            background-size: 150px;
            .chats-searchbar-container {
                width: 100%;
                background: var(--chat-message-left-background);
                padding: 20px;
                padding-left: 40px;
                height: 80px;
                position: relative;
                margin: 0;
                .search-icon {
                    left: 70px;
                    top: 34px;
                    position: absolute;
                    color: var(--color-primary);
                }
            }
            .chats-searchbar {
                border: none;
                background: white;
                border-radius: 25px;
                width: 100%;
                padding: 10px;
                padding-left: 40px;
            }
            .chats-searchbar:focus {
                outline: none;
                border: 2px solid var(--color-primary);
            }

            .chats-sidebar-title {
                font-weight: bold;
                font-size: 22px;
                text-align: center;
                padding: 20px;
                border-bottom: 0.5px solid #ccc;
                margin: 0;
            }
            .chats-items-container {
                padding-left: 20px;
                padding-bottom: 20px;
                height: calc(100vh - 90px - 80px);
                overflow-y: scroll;
                color: white;
                .chats-item {
                    position: relative;
                    p{
                        margin: 0;
                    }
                    .new-messages-count {
                        position: absolute;
                        bottom: 30px;
                        padding: 0px 5px;
                        color: white;
                        background: var(--color-primary);
                        right: 25px;
                        font-weight: bold;
                        font-size: 14px;
                        border-radius: 5px;
                    }
                    .chat-last-message {
                        .avatar {
                            height: 20px;
                            width: 20px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    padding:15px;
                    border-bottom: 0.5px solid var(--chat-message-left-background);
                    cursor: pointer;
                    
                    .chat-image {
                        border:2px solid white;
                        box-shadow: var(--item-box-shadow);
                        border-radius: 50%;
                        width: 65px;
                        height: 65px;
                        object-fit: cover;
                    }
                    .chat-hour {
                        font-weight: normal;
                        float: right;
                        font-size: 14px;
                    }
                    .chat-name {
                        font-weight: bold;
                        font-size: 16px;
                    }
                }
                .chats-item:hover {
                    background: var(--chat-message-left-background);
                    scale: 1.005;
                }
                .selected{
                    background: var(--chat-message-left-background);
                }
            }
        }

    }
}

@media (max-width: 902px) {
   
    .chats-items-container{
        height: calc(100vh - 90px) !important;
    }
    .messages-container {
        height: 70vh !important;
        padding:20px 20px 50px 20px !important;
    }
    .selected{
        display: none !important;
    }   
    .void-text{
        display: none !important;
    }
}
@media (max-width:480px) {
    .chats-items-container{
        padding:0px 20px !important;
    }
    

    .chats-items-container{
        height: calc(100vh - 62px - 80px) !important;
    }
    .chat-container{
        .chat-footer{
            bottom:60px !important;

        }
   }
}