<div class="chat-container" [hidden]="(loading.isLoading | async)">
    <div class="chats-content row">
        <div class="chats-sidebar col-4">
            <div class="chats-searchbar-container">
                <input class="chats-searchbar" type="searchbar" placeholder="Buscar chat">
                <i class="search-icon fa fa-search"></i>
            </div>
            <div class="chats-items-container">
                <div class="chats-item row" *ngFor="let chat of chats" (click)="selectChat(chat)">
                    <div class="col-2">
                        <img class="chat-image" [src]="chat.image" alt="">
                    </div>
                    <div class="col-10 my-auto">
                        <p class="chat-name">{{chat.name}} {{chat.open_reservation?.date | date:'dd/M'}} -
                            {{chat.open_reservation?.game_reservation_hour?.hour | slice:0:5}} <span
                                class="chat-hour">{{chat.last_message?.created_at|
                                date:'HH:mm'}}</span></p>
                        <p class="chat-last-message" *ngIf="chat.last_message"> <img class="avatar"
                                [src]="chat.last_message.user?.avatar" alt=""> <b> {{chat.last_message.user?.name}}</b>:
                            {{chat.last_message.text}}</p>
                        <p class="chat-last-message" *ngIf="!chat.last_message">Sin mensajes aún</p>
                        <span class="new-messages-count"
                            *ngIf="chat.unread_messages_count">{{chat.unread_messages_count}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="interior-chat col-8" *ngIf="selectedChat">
            <div class="chat-title-container row">
                <p class="chat-title">{{selectedChat.name}} - {{selectedChat.open_reservation?.date | date:'dd/MMM'}} -
                    {{selectedChat.open_reservation?.game_reservation_hour?.hour | slice:0:5}} </p>
                <div class="chat-users">
                    <span>Participantes </span>
                    <ng-container *ngFor="let user of selectedChat.users;let i=index">
                        <img class="user-avatar" [src]="user.avatar" alt="" *ngIf="i<6">
                        <span *ngIf="i==6">y {{selectedChat.users?.length! - 6}} más</span>
                    </ng-container>
                </div>
            </div>

            <div id="messages-container-scroll" class="messages-container">

                <div class="message-container row" *ngFor="let message of messages;let i=index">

                    <ng-container *ngIf="i==0">

                        <div class="col-1 user-image" *ngIf="user.id != message.user!.id">
                            <img [src]="message.user!.avatar" alt="">
                        </div>
                        <div class="col">
                            <div
                                [ngClass]="user.id == message.user!.id  ? 'message message-right' : 'message message-left'">
                                <p class="message-username" *ngIf="user.id != message.user!.id">
                                    {{message.user?.name}}
                                </p>
                                <span class="message-text">{{message.text}} </span>
                                <span class="message-hour"> {{message.created_at | date:'HH:mm'}}</span>
                            </div>


                        </div>

                    </ng-container>

                    <ng-container *ngIf="i>=1">

                        <div class="col-1 user-image" *ngIf="user.id != message.user!.id">
                            <img [src]="message.user!.avatar" alt="" *ngIf="messages[i-1].user?.id != message.user?.id">
                        </div>
                        <div class="col">
                            <ng-container *ngIf="messages[i-1].user?.id != message.user?.id">
                                <div
                                    [ngClass]="user.id == message.user!.id  ? 'message message-right' : 'message message-left'">
                                    <p class="message-username" *ngIf="user.id != message.user!.id">
                                        {{message.user?.name}}
                                    </p>
                                    <span class="message-text">{{message.text}} </span>
                                    <span class="message-hour"> {{message.created_at | date:'HH:mm'}}</span>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="messages[i-1].user?.id == message.user?.id">
                                <div
                                    [ngClass]="user.id == message.user!.id  ? 'message-right-simple message' : 'message-simple message'">

                                    <span class="message-text">{{message.text}} </span>
                                    <span class="message-hour"> {{message.created_at | date:'HH:mm'}}</span>
                                </div>
                            </ng-container>
                        </div>

                    </ng-container>



                </div>

                <div class="row" *ngIf="messages.length<=0">
                    <p class="no-messages-text">No hay mensajes aún</p>
                </div>

            </div>

            <div class="chat-footer">
                <div class="input-container">
                    <input class="message-input" (keydown.enter)="sendMessage()" [(ngModel)]="actualMessage!.text"
                        type="text" placeholder="Escribe un mensaje">
                    <button class="audio-button"><i class="fa fa-microphone"></i></button>
                    <button class="send-button" type="submit" (click)="sendMessage()"><i
                            class="fa fa-paper-plane"></i></button>
                </div>
            </div>
        </div>

        <div class="col-8" *ngIf="!selectedChat">
            <p class="void-text">Selecciona un chat para ver sus mensajes</p>
        </div>
    </div>
</div>
<app-loading [hidden]="!(loading.isLoading | async)"></app-loading>