.game-description {
    padding: 0 0 0 3vw;
    z-index: 2;
    .images {
        box-shadow: var(--item-box-shadow);
        height: 450px;
        position: relative;

        .closed-label {
            padding: 15px;
            color: white;
            position: absolute;
            z-index: 999;
            font-size: 22px;
            top: 0;
            left: 0;
            box-shadow: var(--item-box-shadow);
            font-weight: bold;
            border-radius: 10px 0px 25px 0px;
            background: var(--color-open-reservation);
        }
        .open {
            background: var(--color-open-reservation);
        }
        .closed {
            background: var(--color-danger);
        }
    }

    .game-data {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 20px;
        background: white;
        border-radius: 0px 0px 10px 10px;
        box-shadow: var(--item-box-shadow);
        padding: 30px;
        .game-data-header {
            padding-bottom: 30px !important;
        }
        .featured-reviews-container {
            h1 {
                text-align: center;
            }
            .featured-reviews {
                padding: 10px;
                text-align: center;
                background: #fafafa;
                .review-container {
                    padding: 5px;
                    margin-bottom: 10px;
                    .avatar {
                        width: 35px;
                        height: 35px;
                        margin-right: 5px;
                        border-radius: 50%;
                        object-fit: cover;
                        box-shadow: var(--item-box-shadow);
                    }
                    .title {
                        font-style: italic;
                        font-size: 18px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: black;
                    }
                    .stars {
                        margin: 0;
                        i {
                            font-size: 18px;
                        }
                    }
                }
                h1 {
                    font-weight: bold;
                }
            }
        }

        .open-reservations-header {
            padding-top: 20px;
            margin: 0 auto;
            text-align: center;
            .title,
            .subtitle {
                color: black;
                font-weight: bold;
                text-align: center;
            }
            .title {
                font-size: 32px;
            }
            .subtitle {
                span {
                    font-weight: bold;
                }
            }
            .create-funly-reservation-btn {
                padding: 10px;
                border-radius: 25px;
                color: white;
                border: none;
                cursor: pointer;
                width: 50%;
                font-size: 16px;
                margin: 10px;
            }
        }
        .open-reservations {
            width: 100%;
            overflow: hidden;
            text-align: center;
            padding: 20px;
            overflow-x: auto;
            white-space: nowrap;
        }

        .description {
            h1 {
                color: black;
                font-weight: bold;
                text-align: center;
            }
            margin-bottom: 20px;
        }
        .game-address {
            font-size: 14px;
            color: rgb(146, 146, 146);
        }
        .game-title {
            margin-bottom: 10px;
            .title {
                margin-top: 20px;
                font-size: 46px;
                font-weight: bold;
            }
            .rating {
                font-weight: bold;
                margin-left: 5px;
                i {
                    font-size: 24px;
                }
                span {
                    font-weight: bold;
                    font-size: 24px;
                }
            }

            .reviews {
                font-size: 16px;
                font-weight: bold;
                margin-left: 5px;
            }
            .reviews:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .rating {
            font-size: 20px;
        }

        .enterprise {
            font-size: 16px;
            text-decoration: underline;
            margin-bottom: 10px;
        }
        .category {
            z-index: 999;
            font-size: 14px;
            margin-left: 5px;
            margin-bottom: 20px;
            width: auto;
            display: inline;
            padding: 5px 10px 5px 10px;
            border-radius: 25px;
            cursor: pointer;
        }
        .game-reviews-data-container {
            padding: 35px;
            background: black;
            box-shadow: var(--item-box-shadow);
            margin-bottom: 10px;
            border-radius: 10px;
            .reviews {
                font-size: 22px;
                color: white;
            }
        }

        .game-item {
            h1 {
                font-weight: bold;
            }
            padding-bottom: 15px;
            padding-top: 15px;
            margin-bottom: 15px;
            border-bottom: 0.5px solid #ccc;
            .btn {
                margin: 10px;
                padding: 10px 20px 10px 20px;
                font-size: 16px;
                border-radius: 25px;
                border: none;
                color: white;
                cursor: pointer;
            }
        }
    }
}
