<div class="col-lg-8  col-12  game-description" *ngIf="game">
    <div class="images">
        <ng-container *ngIf="game.schedule?.length!>0">
            <span class="closed-label open" *ngIf="!game.closed">Abierto ahora</span>
            <span class="closed-label closed" *ngIf="game.closed">Cerrado ahora</span>
        </ng-container>
        <div class="col-12">
            <app-image-slider style="display: contents;" [images]="game.images!"
                *ngIf="game.images?.length!>0"></app-image-slider>
        </div>
        <img class="game-image" [src]="game.image" *ngIf="game.image && game.images?.length!<=0">
    </div>
    <div class="game-data justify-content-center row">
        <div class="game-title"><span class="title">{{game.name}}</span> <span [style.color]="game.category?.color"
                class="rating">{{game.gameReviewSummary?.avgStars}} <span> <em class="fa fa-star"></em></span>
            </span> <span class="reviews"> {{game.gameReviewSummary?.reviewsCount}} valoraciones</span>
        </div>
        <div class="game-data-header row game-item">
            <div class="col-12">
                <div class="enterprise-container row ">
                    <span class="enterprise"><em class="fa-solid fa-building" [style.color]="game.category?.color"></em>
                        {{game.user?.name}}
                    </span>
                </div>
                <div class="game-address row">
                    <p><em class="fa fa-location-dot" [style.color]="game.category?.color"></em> {{game.address}}</p>
                </div>

                <div class="row">
                    <span (click)="searchCategory()" class="category"
                        [style.background-color]="game.category?.background_color" [style.color]="game.category?.color">
                        {{game.category?.name}} </span>
                    <span class="category" [style.background-color]="game.subcategory?.background_color"
                        [style.color]="game.subcategory?.color">
                        {{game.subcategory?.name}} </span>
                </div>

                <div class="row">
                    <div class="description col-lg-6 col-12">
                        <h1>Quiénes somos</h1>
                        <p>{{game.description}}</p>
                    </div>
                    <div class="col-lg-6 col-12 featured-reviews-container">
                        <h1>Qué dicen los usuarios</h1>
                        <div class="featured-reviews">
                            <ng-container *ngIf="game.gameReviewSummary?.featuredReviews?.length!>0">
                                <div class="review-container"
                                    *ngFor="let review of game.gameReviewSummary?.featuredReviews">
                                    <p class="title">- "{{review?.text}}"</p>
                                    <p class="stars">
                                        <img class="avatar" [src]="review?.user?.avatar" alt="">
                                        <i *ngFor="let item of [0,1,2,3,4]; let i = index"
                                            [class]="i + 1 <= review?.stars! ? 'fa fa-star' : (review.stars! % 1 !==0 && round(review.stars!) == (i + 1)) ? 'fa fa-star-half-stroke':'fa-regular fa-star'"
                                            [style.color]="game.category?.color"></i>
                                        {{review?.created_at | date}}
                                    </p>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="game.gameReviewSummary?.featuredReviews?.length!<=0">
                                <h1>No hay reseñas</h1>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="open-reservations-header my-auto" *ngIf="openReservations.length>0">
            <h1 class="title">¡Reservas individuales FUNLY <img src="assets/imgs/box-transparent.svg" style="width:30px"
                    alt="">
                disponibles!</h1>
            <p class="subtitle">
                ¿No tienes nadie con quien ir?, no te preocupes, ¡ya hay personas que quieren participar contigo!
            </p>
            <p class="subtitle">¡Corre, se cerrarán <span
                    [style.color]="game.category?.color">{{game.reservation_margin_hours}} hora(s)</span> antes de
                que
                empiece el evento!</p>
        </div>


        <div class="open-reservations my-auto game-item" *ngIf="openReservations.length>0">
            <app-open-reservation-small [reservation]="reservation" [game]="game"
                *ngFor="let reservation of openReservations">
            </app-open-reservation-small>
        </div>


        <div class="row calendar-container game-item">
            <app-reservation-calendar [game]="game"></app-reservation-calendar>
        </div>


        <div class="row game-item reviews-container">
            <div class="col-lg-6 col-12 reviews-label">
                <h1><span [style.color]="game.category?.color"> {{game.gameReviewSummary?.reviewsCount}}</span>
                    Valoraciones
                    <span [style.color]="game.category?.color">{{game.gameReviewSummary?.avgStars}} <i
                            class="fa fa-star"></i> </span>
                </h1>
                <p>Las valoraciones son muy importantes para saber qué tan bueno es un evento, no olvides dejar tu
                    valoración al terminar!, te recompasaremos con puntos FUNLY <img style="width:20px;"
                        src="assets/imgs/box-transparent.svg" alt=""></p>
            </div>
            <div class="col-lg-6 col-12">
                <app-reviews-summary [summary]="game.gameReviewSummary" [color]="game.category?.color!">
                </app-reviews-summary>
            </div>
            <div class="row">
                <div class="col-12 my-auto" style="text-align:center;">
                    <button class="btn" [style.background]="game.category?.color" (click)="showAddReviewModal()"><em
                            class="fa fa-pencil"></em> Dános
                        tu opinión</button>
                </div>
            </div>
        </div>
        <app-game-reviews [game]="game" (loadMoreReviews)="loadMoreReviews.emit()">
        </app-game-reviews>
    </div>



</div>