<div class="col-8 game-description">
    <div class="images">
        <ng-container *ngIf="game.schedule?.length!>0">
            <span class="closed-label open" *ngIf="!game.closed">Abierto ahora</span>
            <span class="closed-label closed" *ngIf="game.closed">Cerrado ahora</span>
        </ng-container>
        <app-image-slider></app-image-slider>
    </div>
    <div class="game-data row">
        <div class="game-title"><span class="title">{{game.name}}</span> <span [style.color]="game.category?.color"
                class="rating">{{game.gameReviewSummary?.avgStars}} <span> <i class="fa fa-star"></i></span>
            </span> <span class="reviews"> {{game.gameReviewSummary?.reviewsCount}} valoraciones</span>
        </div>
        <div class="enterprise-container row ">
            <span class="enterprise"><i class="fa-solid fa-building" [style.color]="game.category?.color"></i>
                {{game.user?.name}}
            </span>
        </div>
        <div class="game-address row">
            <p><i class="fa fa-location-dot" [style.color]="game.category?.color"></i> {{game.address}}</p>
        </div>

        <div class="row">
            <span (click)="searchCategory()" class="category" [style.background-color]="game.category?.background_color"
                [style.color]="game.category?.color">
                {{game.category?.name}} </span>
            <span class="category" [style.background-color]="game.subcategory?.background_color"
                [style.color]="game.subcategory?.color">
                {{game.subcategory?.name}} </span>
        </div>

        <div class="description game-item">
            <h1>Quiénes somos</h1>
            <p>{{game.description}}</p>
        </div>



        <div class="reservation-btns game-item row">
            <h1>¡Reserva ya!</h1>
            <button class="reservation-btn" [style.background]="game.category?.color">Reserva Estándar</button>
            <button class="reservation-btn funly" [style.background]="game.category?.color">¡Reserva Funly! <i
                    class="fa fa-star"></i></button>
        </div>

        <div class="row game-item">
            <div class="col-6">
                <h1>Valoraciones</h1>
                <p>Déjanos tu opinión para ayudar a los usuarios!</p>
            </div>
            <div class="col-6 my-auto" style="text-align:center;">
                <button class="btn" [style.background]="game.category?.color" (click)="showAddReviewModal()"><i
                        class="fa fa-pencil"></i> Dános
                    tu opinión</button>
            </div>
        </div>

        <app-game-reviews [game]="game" (loadMoreReviews)="loadMoreReviews.emit()"></app-game-reviews>
    </div>



</div>