<div class="col-8 game-description" >
    <div class="images">
        <app-image-slider></app-image-slider>
    </div>
    <div class="game-data row">
        <div class="game-title"><span class="title">{{game.name}}</span> <span [style.color]="game.category?.color"
                class="rating">{{game.gameReviewSummary?.avgStars}} <span> <i class="fa fa-star"></i></span>
            </span> <span class="reviews"> {{game.gameReviewSummary?.reviewsCount}} valoraciones</span>
        </div>
        <div class="enterprise-container row ">
            <span class="enterprise"><i class="fa-solid fa-building" [style.color]="game.category?.color"></i>
                {{game.user?.name}}
            </span>
        </div>
        <div class="game-address row">
            <p><i class="fa fa-location-dot" [style.color]="game.category?.color"></i> {{game.address}}</p>
        </div>

        <div class="row">
            <span (click)="searchCategory()" class="category" [style.background-color]="game.category?.background_color"
                [style.color]="game.category?.color">
                {{game.category?.name}} </span>
            <span class="category" [style.background-color]="game.subcategory?.background_color"
                [style.color]="game.subcategory?.color">
                {{game.subcategory?.name}} </span>
        </div>
        <div class="description game-item">
            <h1>Quiénes somos</h1>
            <p>{{game.description}}</p>
        </div>
    </div>

    <div class="reservation-btns game-item">
        <h1>¡Reserva ya!</h1>
        <button class="reservation-btn" [style.background]="game.category?.color">Reserva Estándar</button>
        <button class="reservation-btn funly" [style.background]="game.category?.color">¡Reserva Funly! <i
                class="fa fa-star"></i></button>
    </div>

    <div class="row game-item">
        <div class="col-6">
            <h1>Valoraciones</h1>
            <p>Déjanos tu opinión para ayudar a los usuarios!</p>
        </div>
        <div class="col-6 my-auto" style="text-align:center;">
            <button class="btn" [style.background]="game.category?.color" (click)="showAddReviewModal()"><i class="fa fa-pencil"></i> Dános
                tu opinión</button>
        </div>
    </div>
    <div class="reviews" *ngIf="game.reviews?.length!>0">
        <div class="review" *ngFor="let review of game.reviews">
            <div class="stars">
                <img class="review-user-avatar" [src]="review.user?.avatar" alt="" *ngIf="review.user?.avatar">
                <img class="review-user-avatar" src="assets/imgs/placeholder.png" alt="" *ngIf="!review.user?.avatar">
                <span class="review-user-name">{{review.user?.name}} </span>
                <i *ngFor="let item of [0,1,2,3,4]; let i = index"
                    [class]="i + 1 <= review.stars ? 'fa fa-star' : (review.stars % 1 !==0 && round(review.stars) == (i + 1)) ? 'fa fa-star-half-stroke':'fa-regular fa-star'"
                    [style.color]="game.category?.color"></i>
            </div>
            <p class="review-date">{{review.created_at | date}}</p>
            <p>
                {{review.text}}
            </p>
        </div>
        <button class="more-reviews-btn" [style.background]="game.category?.color" (click)="loadMoreReviews.emit()">Ver más
            valoraciones</button>
        <button class="more-reviews-btn" [style.background]="game.category?.color" (click)="updateReviewSummary.emit()"
            *ngIf="actual_reviews_page>1">Mostrar menos</button>

    </div>


</div>

