.message-container {
    position: relative;
    margin-bottom: 0px;
    .unread-messages {
        text-align: center;
        padding: 10px;
        background: rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        font-weight: bold;
    }
    .user-image {
        .avatar-content {
            position: relative;
            overflow: hidden;
            display: inline;
            margin: 0 auto;
            img {
                border: 5px solid white;
                box-shadow: var(--item-box-shadow);
                border-radius: 50%;
                height: 60px;
                width: 60px;
                object-fit: cover;
            }
            .user-online {
                position: absolute;
                top: 15px;
                right: -2px;
                background: var(--color-open-reservation);
                height: 20px;
                width: 20px;
                border: 4px solid white;
                border-radius: 50px;
                z-index: 9;
            }
        }
        cursor: pointer;
        padding: 0;
        text-align: center;
        
    }

    .message {
        padding: 10px 10px 5px 10px;
        border-radius: 15px;
        box-shadow: var(--item-box-shadow);
        background: var(--color-primary-light);
        color: white;
        position: relative;
        margin-top: 15px;
        max-width: 80%;
        display: inline-block;
        img {
            border-radius: 10px;
            margin-bottom: 3px;
            width: 100%;
            max-width: 350px;
            display: block;
        }
        .message-username {
            margin: 0;
            margin-top: -4px;
            font-size: 14px;
            font-weight: bold;
            color: var(--chat-message-right-background);
        }
        .message-user {
            font-weight: bold;
            margin: 0;
        }
        .message-text {
            font-size: 16px;
            overflow-wrap: break-word;
        }
        .message-hour {
            margin: 0;
            opacity: 0.5;
            float: right;
            margin-left: 10px;
            margin-top: 5px;
            font-size: 12px;
        }
        .message-sent {
            margin: 0;
            opacity: 0.8;
            float: right;
            margin-left: -10px;
            margin-top: 5px;
            font-size: 14px;
        }
        .square{
            background:var(--chat-message-right-background);
            width: 5px;
            height: 5px;
        }
        .message-read {
            margin: 0;
            opacity: 0.8;
            float: right;
            margin-left: 5px;
            margin-top: 5px;
            font-size: 14px;
        }
    }
    .message-simple {
        margin-top: 4px;
        float: left;
        border-radius: 8px 15px 15px 8px;
        background: var(--chat-message-left-background);
    }
    .message-right-simple {
        margin-top: 4px;
        float: right;
        border-radius: 15px 8px 8px 15px;
        background: var(--chat-message-right-background);
    }
    .message-right:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid var(--chat-message-right-background);
        border-right: 10px solid transparent;
        border-top: 10px solid var(--chat-message-right-background);
        border-bottom: 10px solid transparent;
        right: -10px;
        top: 0px;
    }

    .message-left:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid var(--chat-message-left-background);
        border-top: 10px solid var(--chat-message-left-background);
        border-bottom: 10px solid transparent;
        left: -10px;
        top: 0px;
    }

    .message-left {
        float: left;
        border-radius: 5px 15px 15px 8px;
        background: var(--chat-message-left-background);
    }
    .message-right {
        float: right;
        border-radius: 15px 8px 15px 15px;
        background: var(--chat-message-right-background);
    }
}

@media (max-width: 902px) {
    .messages-container {
        .avatar-content{
            .user-online {
                
                height: 15px !important;
                width: 15px !important;
                border: 2px solid white !important;
               
            }
        }
        .user-image {
            img {
                border: 3px solid white !important;
                box-shadow: var(--item-box-shadow);
                border-radius: 50%;
                height: 55px !important;
                width: 55px !important;
                object-fit: cover;
            }
        }
        /*  height: calc(100vh - 182px) !important; */
        padding: 20px 5px 50px 25px !important;
        .message {
            max-width: 250px !important;
        }
    }
}
