<div class="content">

    <app-scape-list-header (places)="searchGames($event)"></app-scape-list-header>

    <div class="scape-list-container row">
        <div class="row">
            <div class="scape-list col-8">
                <app-scape-item *ngFor="let scape of scapes" [scape]="scape"></app-scape-item>
            </div>
            <div class="filters col">
                <app-scape-list-filters></app-scape-list-filters>
            </div>
        </div>

        <div class="row">
            <app-scape-list-pagination></app-scape-list-pagination>
        </div>
    </div>

   <app-scape-list-footer></app-scape-list-footer>
</div>