<div class="content">

    <div class="header row">
        <div class="logo col-md-4 text-center ">
            <h1>ScapeVisor V1</h1>
        </div>
        <div class="searchbar col-md-8 align-self-center">
            <input type="searchbar" placeholder="Buscar scape room">
            <button>Buscar</button>
        </div>
    </div>

    <div class="scape-list-container row ">
        <div class="row">
            <div class="scape-list col-8">
                <div class="scape row">
                    <div class="scape-logo col-md-3">
                        <img src="assets/imgs/scape.jpeg" alt="">
                    </div>
                    <div class="scape-content col-md-9">
                        <div class="title row">
                            <p>Scape de prueba</p>
                        </div>

                        <div class="rating row">
                            <div class="stars col-md-2">
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                            </div>
                            <div class="ratings col-md-10">
                                <p>1235 opiniones</p>
                            </div>


                        </div>
                        <div class="address row">
                            <p>C/ Alberto Durán Tejera 3, Jerez, España</p>
                        </div>
                        <div class="data row">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore hic, excepturi
                                ratione
                                officiis
                                doloremque blanditiis consequatur eaque dicta illum debitis corporis dolore ullam
                                mollitia
                                et saepe
                                expedita molestias. Et, quis.</p>
                        </div>
                    </div>

                </div>
                <div class="scape row">
                    <div class="scape-logo col-md-3">
                        <img src="assets/imgs/scape.jpeg" alt="">
                    </div>
                    <div class="scape-content col-md-9">
                        <div class="title row">
                            <p>Scape de prueba</p>
                        </div>
                        <div class="rating row">
                            <div class="stars col-md-2">
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                            </div>
                            <div class="ratings col-md-10">
                                <p>1235 opiniones</p>
                            </div>


                        </div>
                        <div class="address row">
                            <p>C/ Alberto Durán Tejera 3, Jerez, España</p>
                        </div>
                        <div class="data row">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore hic, excepturi
                                ratione
                                officiis
                                doloremque blanditiis consequatur eaque dicta illum debitis corporis dolore ullam
                                mollitia
                                et saepe
                                expedita molestias. Et, quis.</p>
                        </div>
                    </div>

                </div>
                <div class="scape row">
                    <div class="scape-logo col-md-3">
                        <img src="assets/imgs/scape.jpeg" alt="">
                    </div>
                    <div class="scape-content col-md-9">
                        <div class="title row">
                            <p>Scape de prueba</p>
                        </div>
                        <div class="address row">
                            <p>C/ Alberto Durán Tejera 3, Jerez, España</p>
                        </div>
                        <div class="rating row">
                            <div class="stars col-md-2">
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                                <i class="fal fa-star"></i>
                            </div>
                            <div class="ratings col-md-10">
                                <p>1235 opiniones</p>
                            </div>


                        </div>
                        <div class="data row">
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore hic, excepturi
                                ratione
                                officiis
                                doloremque blanditiis consequatur eaque dicta illum debitis corporis dolore ullam
                                mollitia
                                et saepe
                                expedita molestias. Et, quis.</p>
                        </div>
                    </div>

                </div>

            </div>
            <div class="filters col-3 offset-1">
                <h2>Filtros</h2>
                <p>Filtro1</p>
                <p>Filtro1</p>
                <p>Filtro1</p>
                <p>Filtro1</p>
                <p>Filtro1</p>
                <p>Filtro1</p>
            </div>
        </div>

        <div class="row">
            <div class="pagination-footer col-md-8 text-center">
                <ul class="pagination">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="footer">
        <h1>Footer publicidad etc</h1>
    </div>
</div>