<div class="ranking-container">
    <div class="ranking-header">
        <p class="title">Ranking mejores usuarios FUNLY <img style="width: 30px;" src="assets/imgs/box-transparent.svg"
                alt=""></p>
    </div>
    <div class="top-users justify-content-center row">

        <div class="top-user-item col-2">
            <div class="col-12 user-avatar">
                <img src="assets/imgs/placeholder.png" alt="">
            </div>
            <div class="col-12">
                <p class="user-name">Pepito Gonzales</p>
                <p class="user-alias">@Gonsales</p>
            </div>
            <div class="col-12">
                <div class="row justify-content-center user-summary">
                    <div class="col-4 my-auto user-summary-item">
                        <p class="position-first"><i class="fa fa-trophy"></i> 1 <i class="up fa fa-caret-up"></i></p>
                    </div>
                    <div class="col-4 my-auto user-summary-item">
                        <p> <i class="fa fa-building"></i> 12 </p>
                    </div>
                    <div class="col-4 my-auto user-summary-item">
                        <p><img src="assets/imgs/box-transparent.svg" style="width:15px;" alt=""> 125 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-user-item col-2">
            <div class="col-12 user-avatar">
                <img src="assets/imgs/placeholder.png" alt="">
            </div>
            <div class="col-12">
                <p class="user-name">Pepito Gonzales</p>
                <p class="user-alias">@Gonsales</p>
            </div>
            <div class="col-12">
                <div class="row justify-content-center user-summary">
                    <div class="col-4 my-auto user-summary-item">
                        <p class="position-second"><i class="fa fa-trophy"></i> 2 <i class="up fa fa-caret-up"></i></p>
                    </div>
                    <div class="col-4 my-auto user-summary-item">
                        <p> <i class="fa fa-building"></i> 12 </p>
                    </div>
                    <div class="col-4 my-auto user-summary-item">
                        <p><img src="assets/imgs/box-transparent.svg" style="width:15px;" alt=""> 125 </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-user-item col-2">
            <div class="col-12 user-avatar">
                <img src="assets/imgs/placeholder.png" alt="">
            </div>
            <div class="col-12">
                <p class="user-name">Pepito Gonzales</p>
                <p class="user-alias">@Gonsales</p>
            </div>
            <div class="col-12">
                <div class="row justify-content-center user-summary">
                    <div class="col-4 my-auto user-summary-item">
                        <p class="position-third"><i class="fa fa-trophy"></i> 3 <i class="up fa fa-caret-up"></i></p>
                    </div>
                    <div class="col-4 my-auto user-summary-item">
                        <p> <i class="fa fa-building"></i> 12</p>
                    </div>
                    <div class="col-4 my-auto user-summary-item">
                        <p><img src="assets/imgs/box-transparent.svg" style="width:15px;" alt=""> 125 </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="ranking-users row">
        <div class="ranking-users-header justify-content-center row">
            <div class="col-9 row">
                <div class="col-1">
                    <p><i class="fa fa-trophy"></i> Posición</p>
                </div>
                <div class="col-1"></div>
                <div class="col-3 user-label">
                    <p><i class="fa fa-user"></i> Usuario</p>
                </div>
                <div class="col-3">
                    <p><i class="fa fa-building"></i> Eventos completados</p>
                </div>
                <div class="col-3">
                    <p><img style="width:15px ;" src="assets/imgs/box-transparent-dark.svg" alt=""> Puntos funly</p>
                </div>
            </div>
        </div>
        <div class="ranking-users-container justify-content-center row">
            <div class="ranking-user  col-9 row">
                <div class="col-1 my-auto">
                    <p class="ranking-position"><i class="fa fa-trophy"></i> 4 <i class="up fa fa-caret-up"></i> </p>
                </div>
                <div class="col-1 my-auto user-image">
                    <img src="assets/imgs/placeholder.png" alt="">
                </div>
                <div class="col-3 my-auto user">
                    <p class="name"> Pepito García</p>
                    <p class="user-alias">@elpepe92</p>
                </div>
                <div class="col-3 my-auto completed-events">
                    <p><i class="fa fa-building"></i> <span> 25</span> eventos completados</p>
                </div>
                <div class="col-3 my-auto funly-points">
                    <p><img style="width: 20px;" src="assets/imgs/box-transparent.svg" alt=""> <span> 1252</span> puntos
                    </p>
                </div>
            </div>

            <div class="ranking-user  col-9 row">
                <div class="col-1 my-auto">
                    <p class="ranking-position"><i class="fa fa-trophy"></i> 4 <i class="up fa fa-caret-up"></i> </p>
                </div>
                <div class="col-1 my-auto user-image">
                    <img src="assets/imgs/placeholder.png" alt="">
                </div>
                <div class="col-3 my-auto user">
                    <p class="name"> Pepito García</p>
                    <p class="user-alias">@elpepe92</p>
                </div>
                <div class="col-3 my-auto completed-events">
                    <p><i class="fa fa-building"></i> <span> 25</span> eventos completados</p>
                </div>
                <div class="col-3 my-auto funly-points">
                    <p><img style="width: 20px;" src="assets/imgs/box-transparent.svg" alt=""> <span> 1252</span> puntos
                    </p>
                </div>
            </div>

            <div class="ranking-user  col-9 row">
                <div class="col-1 my-auto">
                    <p class="ranking-position"><i class="fa fa-trophy"></i> 4 <i class="up fa fa-caret-up"></i> </p>
                </div>
                <div class="col-1 my-auto user-image">
                    <img src="assets/imgs/placeholder.png" alt="">
                </div>
                <div class="col-3 my-auto user">
                    <p class="name"> Pepito García</p>
                    <p class="user-alias">@elpepe92</p>
                </div>
                <div class="col-3 my-auto completed-events">
                    <p><i class="fa fa-building"></i> <span> 25</span> eventos completados</p>
                </div>
                <div class="col-3 my-auto funly-points">
                    <p><img style="width: 20px;" src="assets/imgs/box-transparent.svg" alt=""> <span> 1252</span> puntos
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<home-footer></home-footer>