<div class="ranking-container">
    <div class="ranking-header">
        <p class="title">Ranking mejores usuarios FUNLY <img style="width: 30px;" src="assets/imgs/box-transparent.svg"
                alt=""></p>
        <p class="subtitle">
            ¡Completa eventos FUNLY para conseguir puntos, y obtener descuentos!
        </p>
    </div>

    <div class="offset-lg-6 col-lg-6 col-12 filters-labels-container">
        <div class="row">
            <div class="col-4 filter-label"><img style="width: 20px;margin-right: 5px;"
                    src="assets/imgs/box-transparent-dark.svg" alt="">Puntos FUNLY
                conseguidos</div>
            <div class="col-4 filter-label"><img style="width: 20px;margin-right: 5px;"
                    src="assets/imgs/box-transparent.svg" alt="">Puntos FUNLY
                disponibles</div>
            <div class="col-4 filter-label"><i class="fa fa-building"></i> Eventos realizados</div>
        </div>
    </div>


    <div class="top-users justify-content-center row">
        <p class="top-users-title">Top <span><i class="fa fa-trophy"></i> 3 </span> FUNLY enjoyers</p>
        <ng-container *ngFor="let user of users;let i=index">
            <div class="top-user-item col-lg-3 col-sm-12 h-25 d-inline-block " *ngIf="i<3"
                routerLink="/{{user.id}}/profile">
                <div class="col-12 user-avatar">
                    <img [src]="user.avatar" alt="" onError="this.src='assets/imgs/avatar.png'">
                </div>
                <div class="col-12">
                    <p class="user-name">{{user.name}}</p>
                    <p class="user-alias">
                        <i class="fa-brands fa-twitter" *ngIf="user.twitter_user"></i>{{user.twitter_user ?
                        user.twitter_user :
                        user.name}}
                    </p>
                </div>
                <div class="col-12">
                    <div class="row justify-content-center user-summary">
                        <div class="col-3 my-auto user-summary-item">
                            <p class="position-first"><i class="fa fa-trophy"></i> {{user.id}} </p>
                        </div>
                        <div class="col-3 my-auto user-summary-item">
                            <p> <i class="fa fa-building"></i> 0 </p>
                        </div>
                        <div class="col-3 my-auto user-summary-item">
                            <p><i class="fa fa-user-group"></i>
                                {{user.followers_count ? user.followers_count : 0 }} </p>
                        </div>
                        <div class="col-3 my-auto user-summary-item">
                            <p><img src="assets/imgs/box-transparent.svg" style="width:15px;" alt="">
                                {{user.funly_points}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>



    </div>

    <div class="row justify-content-center">
        <div class="redeem-funly-points col-12 my-auto row">
            <div class="col-lg-9 col-12">
                <p>Cupón 10% descuento para tu próximo evento <img style="width: 50px;"
                        src="assets/imgs/box-transparent.svg" alt=""></p>
            </div>
            <div class="col-lg-3 col-12">
                <button class="redeem-funly-points-button">Canjear <span>1500</span> puntos <img style="width: 30px;"
                        src="assets/imgs/box-transparent-light.svg" alt=""> </button>
            </div>
        </div>
    </div>


    <div class="ranking-users justify-content-center row">
        <p class="ranking-users-title">Top <span><i class="fa fa-trophy"></i> 25 </span> FUNLY enjoyers</p>
        <!-- <div class="ranking-users-header justify-content-center row">
            <p>Ranking general usuarios FUNLY</p>
        </div> -->
        <div class="ranking-users-container justify-content-center row">
            <ng-container *ngFor="let user of users;let i=index">

                <div class="ranking-user col-lg-5  col-sm-12 row" *ngIf="i>=3" routerLink="/{{user.id}}/profile">
                    <div class="col-lg-1 col-3 my-auto">
                        <p class="ranking-position">{{i+1}} <i class="up fa fa-caret-up"></i>
                        </p>
                    </div>

                    <div class="col-lg-5 col-9 my-auto user">
                        <img [src]="user.avatar" alt="" onError="this.src='assets/imgs/avatar.png'">
                        <p class="name">{{user.name}}</p>
                        <p class="user-alias"><i class="fa-brands fa-twitter"
                                *ngIf="user.twitter_user"></i>{{user.twitter_user ? user.twitter_user :
                            user.name}}</p>
                    </div>
                    <div class="col-lg-2 col-4 my-auto completed-events">
                        <p><i class="fa fa-building"></i> <span> 0</span> </p>
                    </div>

                    <div class="col-lg-2 col-4 my-auto funly-points">
                        <p><i class="fa fa-user-group"></i> <span>
                                {{user.followers_count ? user.followers_count : 0}}</span>
                        </p>
                    </div>
                    <div class="col-lg-2 col-4 my-auto funly-points">
                        <p><img style="width: 20px;" src="assets/imgs/box-transparent.svg" alt=""> <span>
                                {{user.funly_points}}</span>
                        </p>
                    </div>
                </div>
            </ng-container>




        </div>
    </div>
</div>
<home-footer></home-footer>