.ranking-header {
    background-color: var(--dark-background);
    background-image: url(../../../assets/imgs/box-transparent-dark.svg);
    background-repeat: space;
    background-size: 200px;
    z-index: 1;
    background-position: center;
    .title {
        font-weight: bold;
        font-size: 28px;
        padding-top: 30px;
        color: white;
        padding-left:20px;
        padding-right:20px;
        text-align: center;
    }
    .subtitle{
        font-weight: bold;
        font-size: 18px;
        padding-bottom: 30px;
        padding-left:20px;
        padding-right:20px;
        color: white;
        text-align: center;
    }
}

.up {
    font-size: 20px !important;
    color: var(--color-open-reservation) !important;
}
.down {
    font-size: 20px !important;
    color: var(--color-danger) !important;
}
.ranking-container {
    padding:0px 0px 50px 0px;
    overflow-x: hidden;
    .filters-labels-container{
        padding:20px;
        margin-bottom: 20px;
        .filter-label{
            i{
                font-size: 18px;
                color: var(--color-primary);
            }
            font-weight: bold;
        }
    }
    .top-users-title{
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 30px;
        i{
            color:#FFD700;
        }
        
    }
    .top-users{
        background: #fafafa;
        position: relative;
        padding:40px;
        .winner-user{
            padding:30px 30px 0px 30px;
            .user-avatar {
                padding-top:20px;
                img {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 15px;
                    box-shadow: var(--item-box-shadow);
                }
            } 
        }
        
        
        
    }
    .top-user-item {
        text-align: center;
        background: white;
        border-radius: 10px;
        box-shadow: var(--item-box-shadow);
        margin: 15px;
        height: 0%;
        transition: 0.2s ease;
        .user-avatar {
            .avatar-content{
                position: relative;
                width: fit-content;
                margin: 0 auto;
                .user-online {
                    position: absolute;
                    bottom: 24px;
                    right: 0px;
                    background: var(--color-open-reservation);
                    height: 35px;
                    width: 35px;
                    border: 5px solid white;
                    border-radius: 50px;
                    z-index: 9;
                }
            }
            padding-top:20px;
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 15px;
                box-shadow: var(--item-box-shadow);
            }
        }

        .user-name {
            font-weight: bold;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0;
        }
        .user-alias {
            color: #ccc;
            font-style: italic;
            font-size: 14px;
        }
        .user-summary {
            border-top: 0.5px solid #ccc;

            .user-summary-item {
                padding-top: 10px;
                padding-bottom: 10px;
                color:var(--dark-background);
                font-weight: bold;
                p {
                    span{
                        font-size: 12px;
                    }
                    font-size: 24px;
                    i{
                        font-size: 16px;
                        color:var(--color-primary);
                    }
                }
                .position-first{
                    font-size: 26px;
                    color:#FFD700;

                    i{
                        font-size: 26px;
                        color:#FFD700;
                    }
                }
                .position-second{
                    font-size: 26px;
                    color:#C0C0C0;

                    i{
                        font-size: 26px;
                        color:#C0C0C0;

                    }
                }
                .position-third{
                    font-size: 26px;
                    color:#CD7F32;

                    i{
                        font-size: 26px;
                        color:#CD7F32;
                    }
                }
            }
           
        }
    }
  
    .top-user-item:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    
    .redeem-funly-points{
        background-color: var(--dark-background);
        background-image: url(../../../assets/imgs/box-transparent-dark.svg);
        background-repeat: space;

        background-size: 150px;
        z-index: 1;
        color:white;
        padding:50px;
        box-shadow: var(--item-box-shadow);
        p{
            font-size: 32px;
            font-weight: bold;
        }
        .redeem-funly-points-button{
            padding:10px 20px;
            border-radius: 25px;
            box-shadow: var(--item-box-shadow);
            color:white;
            font-size: 18px;
            font-weight: bold;
            background: var(--color-primary);
            border:none;
            transition: 0.2s ease;
            span{
                font-size: 22px;
            }
        }
        .redeem-funly-points-button:hover{
            transform: scale(1.05);
        }
    }
    .ranking-users{
        padding: 50px 20px;
        .ranking-users-title{
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 30px;
            i{
                color:#C0C0C0;
            }
        }
        .ranking-users-header{
            .user-label{
                p{
                    text-align: left;
                }
            }
            p{
                padding:10px;
                color:rgb(103, 103, 103);
                text-align: center;
            }
        }
        .ranking-users-container{
           
          
            .ranking-user{
                margin-right: 40px;
                padding:15px;
                background: white;
                box-shadow: var(--item-box-shadow);
                border-radius: 10px;
                margin-bottom: 15px !important;
                transition: 0.2s ease; 
                .ranking-position{
                    font-size: 18px;
                    color: #ccc;
                }
                p{
                    text-align: center;
                    margin:0;
                }
                .user-image{
                    
                    text-align: center;
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    
                }
                .completed-events{
                    margin-top: 10px !important;
                    i{
                        color:var(--color-primary);
                    }
                    span{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .funly-points{
                    margin-top: 10px !important;
                    span{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                .user{
                    .avatar-content{
                        position: relative;
                        overflow: hidden;
                        display: inline;
                        margin: 0 auto;
                        .user-online {
                            position: absolute;
                            top: 30px;
                            right: -8px;
                            background: var(--color-open-reservation);
                            height: 20px;
                            width: 20px;
                            border: 4px solid white;
                            border-radius: 50px;
                            z-index: 9;
                        }
                    }
                    img{
                        float: left;
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    
                    .name{
                        margin: 0;
                        font-size: 16px;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                    .user-alias{
                        margin: 0;
                        color: #ccc;
                        padding-left: 15px;
                        font-style: italic;
                        font-size: 14px; 
                    }
                }
               
            }
            .ranking-user:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}


@media (max-width: 902px) {
    .second-user,.third-user{
        margin-top: 0px !important;
    }
    .ranking-users{
        .ranking-users-container{
            .ranking-user{
                margin-right: 0px !important;
            }
        }
    }
    
}
