.ranking-header {
    .title {
        font-weight: bold;
        font-size: 32px;
        margin-top: 30px;
        color: black;
        text-align: center;
    }
}
.row {
    margin: 0 !important;
}
.up {
    font-size: 20px !important;
    color: var(--color-open-reservation) !important;
}
.down {
    font-size: 20px !important;
    color: var(--color-danger) !important;
}
.ranking-container {
    padding-bottom: 50px;
    .top-users{
        position: relative;
        .winner-user{
            padding:30px 30px 0px 30px;
            .user-avatar {
                padding-top:20px;
                img {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 15px;
                    box-shadow: var(--item-box-shadow);
                }
            } 
        }
        
        .second-user,.third-user{
            margin-top: 12vh;
        }
        .top-users-title{
            text-align: center;
            font-size: 26px;
            font-weight: bold;
            margin-bottom: 30px;
            i{
                color:#FFD700;
            }
            
        }
        padding:20px;
    }
    .top-user-item {
        text-align: center;
        background: white;
        border-radius: 10px;
        box-shadow: var(--item-box-shadow);
        margin: 15px;
        
        .user-avatar {
            padding-top:20px;
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 15px;
                box-shadow: var(--item-box-shadow);
            }
        }

        .user-name {
            font-weight: bold;
            font-size: 20px;
            text-transform: capitalize;
            margin: 0;
        }
        .user-alias {
            color: #ccc;
            font-style: italic;
            font-size: 14px;
        }
        .user-summary {
            border-top: 0.5px solid #ccc;

            .user-summary-item {
                padding-top: 10px;
                padding-bottom: 10px;
                color:var(--dark-background);
                font-weight: bold;
                p {
                    span{
                        font-size: 12px;
                    }
                    font-size: 24px;
                    i{
                        font-size: 16px;
                        color:var(--color-primary);
                    }
                }
                .position-first{
                    font-size: 26px;
                    color:#FFD700;

                    i{
                        font-size: 26px;
                        color:#FFD700;
                    }
                }
                .position-second{
                    font-size: 26px;
                    color:#C0C0C0;

                    i{
                        font-size: 26px;
                        color:#C0C0C0;

                    }
                }
                .position-third{
                    font-size: 26px;
                    color:#CD7F32;

                    i{
                        font-size: 26px;
                        color:#CD7F32;
                    }
                }
            }
           
        }
    }

    .ranking-users{
        padding-top: 50px;
        padding-bottom: 50px;
    
        .ranking-users-header{
            .user-label{
                p{
                    text-align: left;
                }
            }
            p{
                padding:10px;
                color:rgb(103, 103, 103);
                text-align: center;
            }
        }
        .ranking-users-container{
            max-height: 700px;
            overflow-y: scroll;
            .ranking-user{
                margin-right: 20px !important;
                padding:10px;
                background: white;
                box-shadow: var(--item-box-shadow);
                border-radius: 10px;
                margin-bottom: 15px !important; 
                .ranking-position{
                    font-size: 18px;
                    color: #ccc;
                }
                p{
                    text-align: center;
                    margin:0;
                }
                .user-image{
                    text-align: center;
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    
                }
                .completed-events{
                    i{
                        color:#ccc;
                    }
                    span{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }
                .funly-points{
                    span{
                        font-size: 20px;
                        font-weight: bold;
                    }
                }

                .user{
                    padding-left: 0;
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                    p{
                        text-align: center;
                        margin: 0;
                    }
                    .name{
                        font-size: 16px;
                        font-weight: bold;
                        margin-left: 10px;
                    }
                    .user-alias{
                        color: #ccc;
                        padding-left: 15px;
                        font-style: italic;
                        font-size: 14px; 
                    }
                }
               
            }
        }
    }
}
