<nav [hidden]="(loading.isLoading | async)" class="app-navbar navbar sticky-bottom navbar-expand-lg"
    *ngIf="!router.url.includes('chats/')">
    <div class="container-fluid">
        <ng-container *ngIf="utilities.isEmptyObject(user)">
            <li class="nav-item" *ngFor="let page of pages">
                <a [ngClass]="url == page.route ? 'nav-link active' : 'nav-link'" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                    aria-current="page" (click)="navigate(page.route)"><img [src]="url != page.route ? page.image : page.image_active" class="logo"><i
                        class="fa fa-{{page.icon}}" *ngIf="page.icon"></i>
                </a>
            </li>
        </ng-container>
        <ng-container *ngIf="!utilities.isEmptyObject(user)">
            <li class="nav-item" *ngFor="let page of authUserPages">
                <span class="new-messages-count" *ngIf="page.name=='Chats' && (newMessagesService.newMessagesCount |
                async)! >0 ">{{newMessagesService.newMessagesCount |
                    async}}</span>
                <a [ngClass]="url == page.route ? 'nav-link active' : 'nav-link'" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
                    aria-current="page" (click)="navigate(page.route)"><img [src]="url != page.route ? page.image : page.image_active" class="logo"><i
                        class="fa fa-{{page.icon}}"></i> </a>
            </li>
        </ng-container>
    </div>
</nav>