<div class="map-search-container">
    <div class="description-header">
        <p class="title">¡Encuentra eventos FUNLY <img src="assets/imgs/box-transparent.svg" style="width:30px;"> por
            todo el mapa!</p>
        <p class="results">Mostrando {{games.length}} resultados {{selected_name ? 'de "'+selected_name+'"' : ''}}
            disponibles en {{selected_address ?
            selected_address : 'España'}}</p>
    </div>
    <div class="row" style="padding: 10px;">

        <div class="col-lg-8 col-12">
            <div class="map-container">
                <app-map [markerIconSize]="40" [zoom]="selected_address && games.length>0 ? 13 : 5" [games]="games"
                    [selected_address]="selected_address"></app-map>
            </div>
            <div class="reservations" *ngIf="openReservations?.length!>0">
                <h1 class="open-reservations-title">¡Hay {{openReservations.length}} reservas FUNLY <img
                        style="width: 25px" src="assets/imgs/box-transparent.svg" alt=""> disponibles con esos filtros!
                </h1>
                <p class="open-reservations-description">La reserva será cancelada si no hay suficientes personas cuando
                    se
                    termine la cuenta atrás</p>
                <div class="open-reservations my-auto">
                    <h2>xd</h2>
                    <app-open-reservation routerLink="/search/{{reservation.game?.id}}/interior" [reservation]="reservation"
                        *ngFor="let reservation of openReservations">
                    </app-open-reservation>
                </div>
            </div>
            <h1 class="open-reservations-title" *ngIf="openReservations.length<=0">No hay reservas Funly <img
                    style="width: 25px" src="assets/imgs/box-transparent.svg" alt=""> disponibles con esos filtros</h1>

        </div>

        <div class="col-lg-4 col-12 filters-container">
            <app-game-list-filters [locate]="true" (filter)="applyFilters($event)"></app-game-list-filters>
            <!--  <app-game-recomendations></app-game-recomendations> -->
        </div>


    </div>


</div>
<home-footer [hidden]="(loading.isLoading | async)"></home-footer>
<app-loading [hidden]="!(loading.isLoading | async)" [text]="'Buscando eventos en tu localización'"></app-loading>