.recomendations {
    background: white;
    padding: 10px;
    z-index: 2;
    margin-top: 3vw;
    box-shadow: var(--item-box-shadow);
    border-radius: 10px;

    .recomendations-title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    
}
