<nav class="navbar sticky-top navbar-expand-lg navbar-light ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">OcioVisor</a>
        <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarText" mdbCollapse>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" *ngFor="let page of pages">
                    <a class="nav-link active" aria-current="page" [routerLink]="page?.route">{{page?.name}}</a>
                </li>
                <li>
                    <a href="#" (click)="logout()">Cerrar sesion</a>
                </li>
            </ul>
            <div class="row user" *ngIf="!utilities.isEmptyObject(user)" routerLink="/profile">
                <div class="col-3 my-auto">
                    <img class="avatar" [src]="user?.avatar" alt="">
                </div>
                <div class="col-7 offset-2 my-auto">
                    <p class="name">{{user?.name}}</p>
                </div>
            </div>

            <div class="row user" *ngIf="utilities.isEmptyObject(user)" routerLink="/login">
                <div class="col-3 my-auto">
                    <img class="avatar-placeholder" src="assets/imgs/user.png" alt="">
                </div>
                <div class="col-7 offset-2 my-auto">
                    <p class="name">Iniciar Sesión</p>
                </div>
            </div>
        </div>
    </div>
</nav>