
.navbar{
    background: var(--dark-background);
    color: white;
    .nav-item{
        cursor: pointer;
        font-size: 16px;
    }
    .nav-item a:hover{
        color: var(--color-primary);
    }
    .nav-link{
        color: white;
    }
    .user{
        cursor: pointer;
        .avatar,.avatar-placeholder{
            width: 50px;
            height: 50px;
            object-fit: cover;
            border:0.5px solid #ccc;
            box-shadow: var(--item-box-shadow);
            border-radius: 50%;
        }
        
        .name{
            margin: 0;
            font-weight:bold;
            padding: 0;
            margin-right: 20px;
        }
    }
    
}
.navbar-brand{
    img{
        width: 150px;
    }
    
    
}