.filters{
    margin-left: 25px;
    padding:15px;
    .filters-title{
        color:var(--color-primary);
        font-size: 24px;
        padding:20px;
        text-align: center;
    }
    background: white;
    border: 0.5px solid #ccc;
    height: 500px;
}