<div class="map">
    <img src="assets/imgs/map.png" alt="">
    <p>VER RESULTADOS EN EL MAPA</p>
</div>

<div class="filters">
    <p class="filters-title">
        FILTRAR POR <i class="fa fa-sliders"></i></p>

    <!-- Filtro precio -->
    <div class="filter">
        <p class="filter"> Precio <span class="filter-range-option">{{min_price_selected}}€ - {{max_price_selected}}€</span></p>
        <npn-slider [min]="min_price" [max]="max_price" (onChange)="changePrice($event)"></npn-slider>
    </div>

    <p>Ciudad</p>
    <p>Opiniones</p>
    <p>Recientes</p>
    <p>Precio</p>
</div>