<div class="chat-container content">

    <div class="chats-content row">
        <div class="interior-chat col-lg-12 col-12">
            <div class="chat-title-container row">
                <button class="chats-sidebar-menu" (click)="back()">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <p class="chat-title">{{selectedChat?.name}} - {{selectedChat?.open_reservation?.date | date:'dd/MMM'}}
                    -
                    {{selectedChat?.open_reservation?.game_reservation_hour?.hour | slice:0:5}} </p>
                <div class="chat-users">
                    <span>Participantes </span>
                    <ng-container *ngFor="let user of selectedChat?.users;let i=index">
                        <img class="user-avatar" [src]="user.avatar" alt="" *ngIf="i<6"
                            onError="this.src='assets/imgs/avatar.png'">
                        <span *ngIf="i==6">y {{selectedChat?.users?.length! - 6}} más</span>
                    </ng-container>
                </div>
            </div>

            <div id="messages-container-scroll" (scroll)="loadMoreMessages()" class="messages-container">
                <div class="loader-container row" *ngIf="isLoading">
                    <div class="col-12">
                        <img class="loader " src="assets/imgs/box-transparent.png" alt="">
                    </div>
                </div>
                <div class="message-container justify-content-center row" *ngFor="let message of messages;let i=index">

                    <ng-container *ngIf="messages">
                        <ng-container *ngIf="i==0">
                            <div class="col-lg-1 col-2 user-image" *ngIf="user.id != message?.user!.id">
                                <img [src]="message?.user!.avatar" alt="" onError="this.src='assets/imgs/avatar.png'">
                            </div>
                            <div [ngClass]="user.id != message?.user!.id ? 'col-lg-11 col-10' : 'col-lg-11 col-11'">

                                <!-- MENSAJE DE AUDIO -->
                                <div [ngClass]="user.id == message?.user!.id  ? 'chat-audio message-right' : 'chat-audio message-left'"
                                    *ngIf="message.audio">
                                    <div class="col-3 user-audio-avatar my-auto">
                                        <img [src]="user.avatar" alt="">
                                    </div>
                                    <div class="col-3 play-button my-auto" (click)="togglePlay(message)">
                                        <i class="fa fa-play" *ngIf="!message.is_playing_audio"></i>
                                        <i class="fa fa-pause" *ngIf="message.is_playing_audio"></i>
                                    </div>

                                    <div class="col time-range my-auto">
                                        <input type="range" step="0.1" [max]="message.audio.duration" [min]="0"
                                            [value]="message.audio.currentTime">
                                    </div>
                                    <span class="audio-duration"
                                        *ngIf="message.audio.currentTime==0">{{message.audio.duration*1000 |
                                        date:'m:ss'}}</span>
                                    <span class="audio-duration"
                                        *ngIf="message.audio.currentTime>0">{{message.audio.duration*1000 |
                                        date:'m:ss'}}</span>
                                    <span class="audio-hour"> {{message?.created_at | date:'HH:mm'}}</span>
                                </div>
                                <!-- MENSAJE DE TEXTO -->
                                <div [ngClass]="user.id == message?.user!.id  ? 'message message-right' : 'message message-left'"
                                    *ngIf="!message.audio">
                                    <p class="message-username" *ngIf="user.id != message?.user!.id">
                                        {{message?.user?.name}}
                                    </p>
                                    <img [src]="message.image" alt="" *ngIf="message.image">

                                    <span class="message-text">{{message?.text}} </span>
                                    <span class="message-hour"> {{message?.created_at | date:'HH:mm'}}</span>

                                </div>
                            </div>
                        </ng-container>

                        <ng-container *ngIf="i>=1">
                            <div class="col-lg-1 col-2 user-image" *ngIf="user.id != message?.user!.id">
                                <img [src]="message?.user!.avatar" alt=""
                                    *ngIf="messages[i-1].user?.id != message.user?.id"
                                    onError="this.src='assets/imgs/avatar.png'">
                            </div>
                            <div [ngClass]="user.id != message?.user!.id ? 'col-lg-11 col-10' : 'col-lg-11 col-11'">
                                <ng-container *ngIf="messages[i-1].user?.id != message?.user?.id">
                                    <!-- TEXTO -->
                                    <div [ngClass]="user.id == message?.user!.id  ? 'message message-right' : 'message message-left'"
                                        *ngIf="!message.audio">
                                        <p class="message-username" *ngIf="user.id != message?.user!.id">
                                            {{message?.user?.name}}
                                        </p>
                                        <img [src]="message.image" alt="" *ngIf="message.image">

                                        <span class="message-text">{{message?.text}} </span>
                                        <span class="message-hour"> {{message?.created_at | date:'HH:mm'}}</span>

                                    </div>

                                    <!-- AUDIO -->
                                    <div [ngClass]="user.id == message?.user!.id  ? 'chat-audio message-right' : 'chat-audio message-left'"
                                        *ngIf="message.audio">
                                        <div class="col-3 user-audio-avatar my-auto">
                                            <img [src]="user.avatar" alt="">
                                        </div>
                                        <div class="col-3 play-button my-auto" (click)="togglePlay(message)">
                                            <i class="fa fa-play" *ngIf="!message.is_playing_audio"></i>
                                            <i class="fa fa-pause" *ngIf="message.is_playing_audio"></i>
                                        </div>

                                        <div class="col time-range my-auto">
                                            <input type="range" step="0.1" [max]="message.audio.duration" [min]="0"
                                                [value]="message.audio.currentTime">
                                        </div>
                                        <span class="audio-duration"
                                            *ngIf="message.audio.currentTime==0">{{message.audio.duration*1000 |
                                            date:'m:ss'}}</span>
                                        <span class="audio-duration"
                                            *ngIf="message.audio.currentTime>0">{{message.audio.duration*1000 |
                                            date:'m:ss'}}</span>
                                        <span class="audio-hour"> {{message?.created_at | date:'HH:mm'}}</span>
                                    </div>

                                </ng-container>

                                <ng-container *ngIf="messages[i-1].user?.id == message?.user?.id">
                                    <!-- TEXTO -->

                                    <div [ngClass]="user.id == message?.user!.id  ? 'message-right-simple message' : 'message-simple message'"
                                        *ngIf="!message.audio">
                                        <img [src]="message.image" alt="" *ngIf="message.image">

                                        <span class="message-text">{{message?.text}} </span>
                                        <span class="message-hour"> {{message?.created_at | date:'HH:mm'}}</span>
                                    </div>

                                    <!-- AUDIO -->
                                    <div [ngClass]="user.id == message?.user!.id  ? 'chat-audio message-right-simple' : 'chat-audio message-simple'"
                                        *ngIf="message.audio">
                                        <div class="col-3 user-audio-avatar my-auto">
                                            <img [src]="user.avatar" alt="">
                                        </div>
                                        <div class="col-3 play-button my-auto" (click)="togglePlay(message)">
                                            <i class="fa fa-play" *ngIf="!message.is_playing_audio"></i>
                                            <i class="fa fa-pause" *ngIf="message.is_playing_audio"></i>
                                        </div>

                                        <div class="col time-range my-auto">
                                            <input type="range" step="0.1" [max]="message.audio.duration" [min]="0"
                                                [(ngModel)]="message.audio.currentTime">
                                        </div>
                                        <span class="audio-duration"
                                            *ngIf="message.audio.currentTime==0">{{message.audio.duration*1000 |
                                            date:'m:ss'}}</span>
                                        <span class="audio-duration"
                                            *ngIf="message.audio.currentTime>0">{{message.audio.currentTime*1000 |
                                            date:'m:ss'}}</span>
                                        <span class="audio-hour"> {{message?.created_at | date:'HH:mm'}}</span>
                                    </div>
                                </ng-container>


                            </div>

                        </ng-container>
                    </ng-container>


                </div>


                <p class="unread-messages" *ngIf="selectedChat?.unread_messages_count!>0">
                    {{selectedChat?.unread_messages_count}} mensajes sin leer</p>

                <div class="row" *ngIf=" messages && messages.length<=0 ">
                    <p class="no-messages-text">No hay mensajes aún</p>
                </div>

            </div>


        </div>

    </div>


    <div class="chat-footer" *ngIf="selectedChat">
        <div class="input-container">
            <div class="upload-image" *ngIf="actualMessage?.image">
                <i class="delete-image-button fa fa-close" (click)="deleteImage()"></i>
                <img [src]="actualMessage?.image" alt="">
            </div>
            <input class="message-input" (keydown.enter)="sendMessage()" [(ngModel)]="actualMessage!.text" type="text"
                placeholder="Escribe un mensaje">

            <div class="upload-image-button">
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-camera"></i>
                </label>
                <input id="file-upload" type="file" (change)="uploadImage($event)" />
            </div>


            <button class="send-button" type="button" (mousedown)="recordAudio()" (mouseup)="stopRecordingAudio()"
                *ngIf="actualMessage?.text == '' && !actualMessage?.image">
                <i class="fa fa-microphone"></i>
            </button>

            <button class="send-button" type="submit" (click)="sendMessage()"
                *ngIf="actualMessage?.text != '' || actualMessage?.image">
                <i class="fa fa-paper-plane"></i>
            </button>
        </div>
    </div>

</div>