<div class="chat-container">

    <div class="chats-content row">
        <div class="interior-chat col-lg-12 col-12">
            <div class="chat-title-container row">
                <button class="chats-sidebar-menu" (click)="back()">
                    <i class="fa fa-arrow-left"></i>
                </button>
                <p class="chat-title" *ngIf="selectedChat">{{selectedChat.name}} - {{selectedChat.open_reservation?.date
                    | date:'dd/MMM'}}
                    -
                    {{selectedChat.open_reservation?.game_reservation_hour?.hour | slice:0:5}} </p>
                <div class="chat-users" *ngIf="selectedChat">
                    <ng-container *ngFor="let user of selectedChat?.users;let i=index">
                        <div class="avatar-content">
                            <img class="user-avatar" [src]="user.avatar" alt="" *ngIf="i<6"
                                onError="this.src='assets/imgs/avatar.png'">
                            <span class="user-online" *ngIf="user.online"></span>
                        </div>
                        <span *ngIf="i==6">y {{selectedChat.users?.length! - 6}} más</span>
                    </ng-container>
                </div>
            </div>

            <div class="messages-container" id="messages-container-scroll" (scroll)="loadMoreMessages()">

                <button class="btn-scroll" (click)="scrollToBottom()"
                    *ngIf="messagesContainer?.scrollHeight - messagesContainer?.scrollTop - messagesContainer?.clientHeight > 250">
                    <i class="fa-solid fa-angles-down"></i>
                    <span class="new-messages"
                        *ngIf="selectedChat?.unread_messages_count!>0">{{selectedChat?.unread_messages_count}}</span>

                </button>

                <div class="loader-container row" *ngIf="isLoading">
                    <div class="col-12">
                        <img class="loader " src="assets/imgs/box-transparent.png" alt="">
                    </div>
                </div>

                <app-message-item [messages]="messages" [user]="user"
                    [unread_messages]="selectedChat?.unread_messages!"></app-message-item>

                

            </div>


        </div>

    </div>


    <div class="chat-footer" *ngIf="selectedChat">
        <div class="input-container">
            <div class="upload-image" *ngIf="actualMessage?.image">
                <i class="delete-image-button fa fa-close" (click)="deleteImage()"></i>

                <img [src]="actualMessage?.image" alt="">

            </div>
            <input class="message-input" (keydown.enter)="sendMessage()" [(ngModel)]="actualMessage!.text" type="text"
                placeholder="Escribe un mensaje" (focus)="readMessages()">

            <div class="upload-image-button">
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-camera"></i>
                </label>
                <input id="file-upload" type="file" (change)="uploadImage($event)" />


            </div>


            <button class="send-button" type="button" (mousedown)="recordAudio()" (mouseup)="stopRecordingAudio()"
                *ngIf="actualMessage?.text == '' && !actualMessage?.image">
                <i class="fa fa-microphone"></i>
            </button>

            <button class="send-button" type="submit" (click)="sendMessage()"
                *ngIf="actualMessage?.text != '' || actualMessage?.image">
                <i class="fa fa-paper-plane"></i>
            </button>
        </div>
    </div>

</div>