.chat-container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    .unread-messages {
        text-align: center;
        padding: 10px;
        background: rgba(0, 0, 0, 0.2);
        margin-top: 10px;
        font-weight: bold;
    }
    .no-chats {
        text-align: center;
        p {
            text-align: center;
            margin-top: 30vh;
            padding: 10px;
            font-weight: bold;
            font-size: 20px;
        }
        button {
            border-radius: 25px;
            width: auto;
            border: none;
            color: white;
            padding: 10px 20px;
            background: var(--color-primary);
        }
    }
    .void-text p {
        font-size: 26px;
        margin-top: 42vh;
        text-align: center;
        font-weight: bold;
        transform: translateY(-50%);
    }

    .chats-content {
        .chat-audio{
            padding: 10px;
            border-radius: 10px;
            box-shadow: var(--item-box-shadow);
            background: var(--chat-message-right-background);
            color: white;
            position: relative;
            margin-top: 15px;
            width: 300px;
            display: flex;
            .audio-duration,.audio-hour{
                color:white;
                position: absolute;
                bottom: 10px;
                font-size: 12px;
            }
            .audio-duration{
                left: 50%;
            }
            .audio-hour{
                right: 10px;
            }
            .user-audio-avatar{
                img{
                    border-radius: 50%;
                    object-fit: cover;
                    height: 60px;
                    width: 60px;
                }
            }
            .time-range{
                input[type="range"] {
                    -webkit-appearance: none;
                    width: 100%;
                    height: 7px;
                    background: rgba(255, 255, 255, 0.6);
                    border-radius: 5px;
                    background-size: 70% 100%;
                    background-repeat: no-repeat;
                  }
                  
                  /* Input Thumb */
                  input[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    height: 10px;
                    width: 3px;
                    border-radius: 50%;
                    background: white;
                    cursor: ew-resize;
                    box-shadow: 0 0 2px 0 #555;
                    transition: background .3s ease-in-out;
                  }
                  
                  input[type="range"]::-moz-range-thumb {
                    -webkit-appearance: none;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: #ff4500;
                    cursor: ew-resize;
                    box-shadow: 0 0 2px 0 #555;
                    transition: background .3s ease-in-out;
                  }
                  
                  input[type="range"]::-ms-thumb {
                    -webkit-appearance: none;
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    background: #ff4500;
                    cursor: ew-resize;
                    box-shadow: 0 0 2px 0 #555;
                    transition: background .3s ease-in-out;
                  }
                  
                  input[type="range"]::-webkit-slider-thumb:hover {
                    background: #ff0200;
                  }
                  
                  input[type="range"]::-moz-range-thumb:hover {
                    background: #ff0200;
                  }
                  
                  input[type="range"]::-ms-thumb:hover {
                    background: #ff0200;
                  }
                  
                  /* Input Track */
                  input[type=range]::-webkit-slider-runnable-track  {
                    -webkit-appearance: none;
                    box-shadow: none;
                    border: none;
                    background: transparent;
                  }
                  
                  input[type=range]::-moz-range-track {
                    -webkit-appearance: none;
                    box-shadow: none;
                    border: none;
                    background: transparent;
                  }
                  
                  input[type="range"]::-ms-track {
                    -webkit-appearance: none;
                    box-shadow: none;
                    border: none;
                    background: transparent;
                  } 
                input{
                    width: 100%;
                }
            }
            .play-button{
                text-align: center;
                font-size: 25px;
            }
        }
        .interior-chat {
            padding: 0;
            position: relative;

            .chats-sidebar-menu {
                border: none;
                background: none;
                width: auto;
                position: absolute;
                top: 25px;
                left: 25px;
                font-size: 20px;
            }
            .chat-title-container {
                background: white;
                padding: 0;
                margin: 0;
                border-bottom: 0.5px solid #ccc;
                padding: 20px;
                .chat-users {
                    margin-top: 10px;
                    text-align: center;
                    .user-avatar {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        box-shadow: var(--item-box-shadow);
                        object-fit: cover;
                    }
                }
                .chat-image {
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                }
                .chat-title {
                    font-weight: bold;
                    font-size: 22px;
                    padding: 0px 50px;
                    text-align: center;
                    margin: 0;
                }
                .chat-hour {
                    font-weight: normal;
                    font-size: 12px;
                }
            }
            .messages-container {
                padding: 50px 70px 20px 40px;
                overflow-y: scroll;
                overflow-x: hidden;
                height: 60vh;
                .no-messages-text {
                    text-align: center;
                    font-size: 22px;
                    margin-top: 50px;
                }
                .message-container {
                    position: relative;
                    margin-bottom: 0px;
                    .user-image {
                        padding: 0;
                        text-align: center;
                        img {
                            box-shadow: var(--item-box-shadow);
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;
                            object-fit: cover;
                        }
                    }

                    .message {
                        padding: 10px 10px 5px 10px;
                        border-radius: 20px;
                        box-shadow: var(--item-box-shadow);
                        background: var(--color-primary-light);
                        color: white;
                        position: relative;
                        margin-top: 15px;
                        max-width: 75%;
                        display: inline-block;
                        .message-username {
                            margin: 0;
                            font-size: 14px;
                            font-weight: bold;
                            color: var(--chat-message-right-background);
                        }
                        .message-user {
                            font-weight: bold;
                            margin: 0;
                        }
                        .message-text {
                            font-size: 16px;
                        }
                        .message-hour {
                            margin: 0;
                            float: right;
                            margin-left: 10px;
                            margin-top: 5px;
                            font-size: 12px;
                        }
                    }
                    .message-simple {
                        margin-top: 2px;
                        float: left;
                        background: var(--chat-message-left-background);
                    }
                    .message-right-simple {
                        margin: 2px;
                        float: right;
                        background: var(--chat-message-right-background);
                    }
                    .message-right:before {
                        content: "";
                        width: 0px;
                        height: 0px;
                        position: absolute;
                        border-left: 10px solid var(--chat-message-right-background);
                        border-right: 10px solid transparent;
                        border-top: 10px solid var(--chat-message-right-background);
                        border-bottom: 10px solid transparent;
                        right: -10px;
                        top: 0px;
                    }

                    .message-left:before {
                        content: "";
                        width: 0px;
                        height: 0px;
                        position: absolute;
                        border-left: 10px solid transparent;
                        border-right: 10px solid var(--chat-message-left-background);
                        border-top: 10px solid var(--chat-message-left-background);
                        border-bottom: 10px solid transparent;
                        left: -10px;
                        top: 0px;
                    }

                    .message-left {
                        float: left;
                        border-radius: 5px 20px 20px 20px;
                        background: var(--chat-message-left-background);
                    }
                    .message-right {
                        float: right;
                        border-radius: 20px 5px 20px 20px;
                        background: var(--chat-message-right-background);
                    }
                }
            }
        }
    }
    .chat-footer {
        margin: 0 auto;
        padding-top: 10px;
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0px;
        padding-bottom: 10px;
        padding-top: 10px;
        width: 100%;
        background: white;
        border-top: 0.5px solid #fafafa;
        .input-container {
            position: relative;
            .upload-image{
                background: var(--chat-message-left-background);
                img{
                    padding:10px;
                    max-width: 100%;
                    max-height: 400px;
                }
                .delete-image-button{
                    background: var(--color-primary);
                    color: white;
                    border-radius: 10px;
                    padding: 7px 10px;
                    font-size: 13px;
                    position: absolute;
                    right: 0;
                    top:5px;
                }
            }
            .upload-image-button{
                display: inline;
                input[type="file"] {
                    display: none;
                }
                .custom-file-upload {
                    cursor: pointer;
                    box-shadow: var(--item-box-shadow);
                    background: white;
                    color:var(--color-primary);
                    border: none;
                    border-radius: 50%;
                    height: 50px;
                    width: 50px;
                    padding: 15px;
                    margin-left: 10px;
                    transition: ease 0.2s;
                }
            }
            .send-button,
            .audio-button {
                cursor: pointer;
                box-shadow: var(--item-box-shadow);
                background: white;
                border: none;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                padding: 15px;
                margin-left: 10px;
                transition: ease 0.2s;

                i {
                    font-size: 18px;
                    color: var(--color-primary);
                }
            }

            .send-button:hover,
            .audio-button:hover {
                background: #f8e5d3;
            }
            .send-button:active {
                background: var(--color-primary);
                i {
                    color: white;
                }
                transform: scale(1.2);
            }
            .message-input {
                width: 60%;
                box-shadow: var(--item-box-shadow);
                background: white;
                border: none;
                border-radius: 25px;
                padding: 15px;
                font-size: 16px;
            }
            .message-input:focus {
                outline: none;
            }
        }
    }
}

@media (max-width: 902px) {
    .messages-container {
        height: 70vh !important;
        padding: 20px 20px 50px 20px !important;
    }
    .void-text {
        display: none !important;
    }
}
