<div class="login-page">
    <video autoplay muted loop>
        <source src="assets/videos/neon.mp4" type="video/mp4" />
    </video>
    <div class="container text-center">

        <img class="logo" src="assets/imgs/logo-vertical-transparent.png" alt="">
        <p class="title">¡Abandona la rutina!</p>


        <form class="form row g-4" *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text"> <i class="form-icon fa fa-user"></i> </div>
                    <input type="text" class="form-control" placeholder="Introducir email" formControlName="email">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text"><i class="form-icon fa fa-lock"></i></div>
                    <input type="password" class="form-control" placeholder="Introducir contraseña"
                        formControlName="password">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <button type="submit" class="btn-submit" [disabled]="!form.valid">Entrar</button>
                </div>
            </div>

            <div class="txt1 text-center p-t-54 p-b-20">
                <span>
                    O entra con
                </span>
            </div>

            <div class="flex-c-m">
                <a href="#" class="login100-social-item bg3">
                    <i class="fa-brands fa-google"></i>
                </a>
                
                <a href="#" class="login100-social-item bg1">
                    <i class="fa-brands fa-facebook"></i>
                </a>

                <a href="#" class="login100-social-item bg2">
                    <i class="fa-brands fa-twitter"></i>
                </a>

               
            </div>

            <div class="col-12 text-center">
                <p>¿No tienes cuenta aún? <u routerLink="/register"> Regístrate</u></p>
            </div>
        </form>
    </div>
</div>