a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    overflow: hidden;
    video{
        width: 100vw;
        object-fit: cover;
        height: 100%;
        z-index: 1;
        filter: brightness(40%);
        position: absolute;
    }
    .container{
        margin-top: 35px;
        background-color: white;
        box-shadow: var(--item-box-shadow);
        padding:0px;
        border-radius: 15px;
        z-index: 99;
        .logo{
            margin-top: 20px;
            padding:10px;
            width: 100px;
        }
        .form-icon{
            color:var(--color-primary);
          }
        .form{
            padding:25px;
            .input-group{
                width: 70%;
                margin: 0 auto;
            }
        }
        .shadow{
            background:white;
        }
        .login100-social-item {
            font-size: 25px;
            color: #fff;
    
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 5px;
          }
          
          .login100-social-item:hover,.btn-submit:hover{
            color: #fff;
            cursor: pointer;
            background-color: #333333;
          }
          
          .input-group-text{
            border-radius: 25px 0px 0 25px;
          }
          
          .form-control{
            border-radius: 25px;
            font-size: 14px;
            font-weight: lighter;
          }
          .btn-submit{
            width: 100%;
            border-radius: 25px;
            padding:10px;
          }
          
    }
    .title{
        color:var(--color-primary);
        font-weight: bold;
        margin-top: 14px;
        font-size: 24px;
    }
}
.form-right,button{
    color:white;
    background:var(--color-primary);
    border: none;
}
.form-right i {
    font-size: 100px;
}
.bg1 {background-color: #3b5998}
.bg2 {background-color: #1da1f2}
.bg3 {background-color: #ea4335}
.flex-c-m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
u{
    cursor: pointer;
}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (max-width: 320px) {
    .container {
        height: 100%;
        border-radius: 0 !important;
    }
    .login-page {
        video {
            display: none !important;
        }
    }
}
/* smartphones, Android phones, landscape iPhone */
@media (max-width: 480px) {
    .container {
        height: 100%;
        border-radius: 0 !important;
    }
    .login-page {
        video {
            display: none !important;
        }
    }
}
