.recomendation {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    p {
        margin: 0;
        margin-bottom: 5px;
    }
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 0.5px solid #ccc !important;
    cursor: pointer;
    .recomendation-image {
        width: 100%;
        height: 150px;
        object-fit: contain;
        background: var(--dark-background);
    }
    .recomendation-title {
        font-weight: bold;
        font-size: 24px;
    }
    .recomendation-address {
        color: #ccc;
        font-size: 12px;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .recomendation-stars {
        font-size: 14px;
    }
    .specifications {
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        i {
            font-size: 14px;
        }
    }
    .category {
        z-index: 999;
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 20px;
        width: auto;
        display: inline;
        padding: 5px 10px 5px 10px;
        border-radius: 25px;
        cursor: pointer;
    }
    transition: all 0.1s ease-in;
}
.recomendation:hover {
    scale: 1.05;
    background: #fafafa;
}