.content{
    background: white;
    width: 100vw;
    
    overflow-x: hidden;
    .info{
        background:white;
        color:black;
        position: relative;
        .text{
            text-align: center;
            padding: 50px;
            .info-title{
                font-size: 48px;
                line-height: 1;
               font-weight: bold;
               
            }
            .info-app-name{
                font-weight: bold;
                margin-bottom: 35px;
                font-size: 46px;
                span{
                    color: var(--color-primary);
                }
               }
            .info-subtitle{
                font-size: 20px;
                line-height: 1;
            }
        }
        .image{
            height: 100%;
            .info-image{
                padding: 20px;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
       
       
       
    }
    .info-video{
        height: 60vh;
        position: relative;
        video{
            filter: brightness(40%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: 100%;
            z-index: 1;
            position: absolute;
        } 
    }
    .app-download{
        position: relative;
        video{
            filter: brightness(40%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: 100%;
            z-index: 1;
            position: absolute;
        }         color:white;
        .text{
            z-index: 99;
            text-align: center;
            padding: 50px;   
            padding-bottom: 0px;         
            .app-download-title{
                font-size: 48px;
                line-height: 1;
               font-weight: bold;
            }
           
            .app-download-subtitle{
                font-size: 20px;
                line-height: 1;
                span{
                    color:var(--color-primary);
                    font-weight: bold;
                }
            }
            .download-button{
                width: 100%;
                object-fit: cover;
            }
        }
        .image{
            height: 100%;
            z-index: 99;
            .app-download-image{
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }
       
       
       
    }
}
