<div class="content" >
    
    <home-header > </home-header>


    <div class="info row">
        <div class="image offset-lg-1 col-lg-6 col-12">
            <img class="info-image" src="assets/imgs/mac.jpeg" alt="">
        </div>
        <div class="text col-lg-4 col-12 my-auto">
            <p class="info-title">Reserva como nunca </p>
            <p class="info-app-name">con <span> FUNLY! </span></p>
            <p class="info-subtitle">¿No tienes nadie con quien divertirte?</p>
            <p class="info-subtitle">No te preocupes, con FUNLY podrás realizar miles de actividades en tu zona y
                conocer gente!</p>
        </div>
    </div>


    <div class="app-download row">
        <video oncanplay="this.play()" onloadedmetadata="this.muted = true" loop>
            <source src="assets/videos/reserva.mp4" type="video/mp4" />
        </video>
        <div class="text col-lg-6 col-12 my-auto">
            <p class="app-download-title">¿No tienes nada que hacer hoy?</p>
            <p class="app-download-subtitle">¡Descarga la app de <span>FUNLY</span>, descubre miles de eventos y haz
                amigos!</p>
            <div class="download-buttons">
                <img class="download-button download-apple" src="assets/imgs/download.png" alt="">

            </div>
        </div>

        <div class="image offset-lg-1 col-lg-4 col-12">
            <img class="app-download-image" src="assets/imgs/iphone.png" alt="">
        </div>
    </div>

    <home-footer></home-footer>


</div>
