<div class="searchbar">
    <div class="input-container">
        <input class="input" type="text" [(ngModel)]="autocompleteInput" #addresstext placeholder="Ciudad o región"
            [(ngModel)]="selected_address" >
        <i class="search-icon fa fa-location-dot"></i>
        <i class="close-icon fa-solid fa-circle-xmark" (click)="deleteAddress()" *ngIf="selected_address"></i>
    </div>
    <div class="name-container" (click)="openDialog()">
        <img class="name-icon" src="assets/imgs/box-transparent.svg">
        <input class="input name" type="text" placeholder="¿Qué buscas?" [(ngModel)]="selected_name" disabled>
    </div>
</div>
<button class="change-city-btn" (click)="search()"><i class="fa fa-search"></i> Buscar </button>