.searchbar{
    margin: 0 auto;
    width: 50%;
    position: relative;
    box-shadow: var(--item-box-shadow);
    background: white;
    border-radius: 25px;
    overflow: auto;
    input{
        padding: 20px;
        padding-left: 50px;
        font-size: 14px;
        margin-right: 10px;
        border: none;
        width:50%;
        cursor: pointer;
        float: left;
    }
    .name{
        border-left:1px solid #ccc;
        width:100%;
    }
    .search-icon{
        position: absolute;
        left: 2%;
        top: 33%;
        font-size: 18px;
        color:var(--color-primary);
    }
    .close-icon{
        position: absolute;
        top: 33%;
        left: 47%;
        opacity: 0.5;
        font-size: 18px;
        color:var(--color-primary);
    }
    .name-icon{
        position: absolute;
        left: 2%;
        top: 33%;
        width: 20px;
        font-size: 18px;
        color:var(--color-primary);
    }
    input:focus{
        outline: none;
    }
    .search-icon{
        position: absolute;
        left: 2%;
        top: 30%;
        font-size: 18px;
        color:var(--color-primary);
    }
    .name-container{
        position: relative;
        overflow: hidden;
        width: 48%;
        cursor: pointer;
    }
    .menu{
        width: 100vw;
    }
}



.change-city-btn{
    background: var(--color-primary);
    color:white;
    padding:15px 25px;
    font-size: 14px;
    border-radius: 25px;
    margin: 0 auto;
    border:none;
    display: block;
    margin-top: 25px;
}