.slider-container{
    height: 100%;
    width: 100%;
    position: relative;
    .arrows i{
        background: black;
        padding:15px;
        color:white;
        cursor: pointer;
        border-radius: 50%;
        z-index: 999;
        position: absolute;

    }
    .arrow-right i{
        top:45%;
        right: 10px;
    }
    .arrow-left i{
        top:45%;
        left: 10px;
    }
    .arrows:hover i{
        background: rgb(74, 74, 74);
    }
    .text{
        text-align: center;
        font-weight: bold;
        left: 0;
        right: 0;
        z-index: 99;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        .title{
            font-size: 42px;
            color:white;
            margin-bottom: 12px;
            line-height: 1;
        }
        .description{
            font-size: 28px;
            color:white;
        }
    }
    .category-images{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display:none;
    }
}