.slider-container {
    height: 650px;
    width: 100%;
    position: relative;
    .image-count{
        color:white;
        position: absolute;
        top:10px;
        right: 10px;
        font-size: 16px;
    }
    .arrows i {
        background: black;
        padding: 15px;
        color: white;
        cursor: pointer;
        border-radius: 50%;
        z-index: 999;
        position: absolute;
    }
    .arrow-right i {
        top: 45%;
        right: 10px;
    }
    .arrow-left i {
        top: 45%;
        left: 10px;
    }
    .arrows:hover i {
        background: rgb(74, 74, 74);
    }
    .text {
        text-align: center;
        font-weight: bold;
        left: 0;
        right: 0;
        z-index: 99;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        .title {
            font-size: 42px;
            color: white;
            margin-bottom: 12px;
            line-height: 1;
        }
        .description {
            font-size: 28px;
            color: white;
        }
    }
    .category-images {
        height: calc(100% - 50px);
        width: 100%;
        object-fit: contain;
        background-color: var(--dark-background);
        background-image: url(../../../assets/imgs/box-transparent-dark.svg);
        background-repeat: space;
        background-size: 150px;
        z-index: 1;
        background-position: center;

        display: none;
    }
    #carousel-images {
        margin: 0 auto;
        width: 100%;
        height: 50px;
        
        background:rgb(244, 244, 244);
    
        text-align: center;
        overflow-x: auto;
        white-space: nowrap;
        margin-bottom: 50px;
        .carousel-image {
            height: 100%;
            min-width: 60px;
            border:0.5px solid #ccc;
            max-width: 60px;
            object-fit: cover;
            padding:2px 1px;
        }
        .carousel-image:hover{
            cursor: pointer;
            filter: contrast(1) brightness(1) !important;
        }
    }
}

