.game-container {
    padding: 3vw 4vw;
    background: #f2f2f2;
    background-image: url(../../../assets/imgs/box-transparent-light.svg);
    background-repeat: space;
    background-size: 200px;
    background-position: center;
    .funly {
        img {
            width: 20px;
        }
        font-weight: bold;
        background: var(--color-open-reservation);
    }
}

