.game-container {
    padding: 5vw;
    background: var(--light-background);
  
    .funly {
        img {
            width: 20px;
        }
        font-weight: bold;
        background: var(--color-open-reservation);
    }
}
