.game-container {
    padding: 5vw;
    .category {
        z-index: 999;
        font-size: 14px;
        margin-left: 5px;
        margin-bottom: 20px;
        width: auto;
        display: inline;
        padding: 5px 10px 5px 10px;
        border-radius: 25px;
        cursor: pointer;
    }
    .enterprise-container {
        .schedule {
            margin-left: 5px;
            font-weight: bold;
        }
        .enterprise {
            font-size: 18px;
            text-decoration: underline;
        }
        margin-bottom: 20px;
    }
    .game-title {
        margin-bottom: 10px;
        .title {
            margin-top: 20px;
            font-size: 36px;
            font-weight: bold;
        }
        .rating {
            font-weight: bold;
            margin-left: 5px;
            i {
                font-size: 24px;
            }
            span {
                font-weight: bold;
                font-size: 24px;
            }
        }

        .reviews {
            font-size: 16px;
            font-weight: bold;
            margin-left: 5px;
        }
        .reviews:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .rating {
        font-size: 20px;
    }
    .categories {
        padding: 5px;
        margin-bottom: 10px;
        span {
            margin-right: 5px;
            width: auto;
            display: inline;
            float: left;
            padding: 5px 15px 5px 15px;
            border-radius: 25px;
        }
    }
    .game-content {
        .map {
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
        }
        position: relative;

        .images {
            padding: 0 5vw;
            height: 400px;
            .game-data {
                margin-top: 20px;
                margin-bottom: 20px;
                .game-description {
                    h1 {
                        color: black;
                        font-weight: bold;
                    }
                }
            }
            .game-reviews-data-container {
                padding: 35px;
                background: black;
                box-shadow: var(--item-box-shadow);
                margin-bottom: 10px;
                border-radius: 5px;
                .reviews {
                    font-size: 22px;
                    color: white;
                }
            }
            .game-reviews {
                h1 {
                    font-weight: bold;
                }
            }
            .reviews {
                h1 {
                    text-align: center;
                    font-weight: bold;
                }
            }
            .reviews-label-container {
                p {
                    color: white;
                }
                .write-review-btn {
                    padding: 5px 10px 5px 10px;
                    border-radius: 25px;
                    font-size: 16px;
                    color: white;
                }
            }
        }
        .description-item{
            text-align: center;
            font-size: 14px;
            border-bottom: 0.5px solid #ccc;
            padding: 15px 0;
        }
        .especifications {
         
            span {
                color: var(--color-primary);
                font-weight: bold;
                font-size: 18px;
            }
            img {
                width: 20px;
                filter: invert(60%) sepia(70%) saturate(5459%) hue-rotate(348deg) brightness(96%) contrast(105%);
            }
        }
        .phone{
           
            p{
                font-size: 18px;
            }
            .call-btn {
                color: white;
                border-radius: 25px;
                font-size: 18px;
                padding: 5px 15px 5px 15px;
            }
        }
        .contact {
            
            i{
                font-size: 22px;
            }
            h1 {
                text-align: center;
                font-weight: bold;
            }
           
            .phone {
                font-size: 16px;
                
            }
            
        }
        .schedule {
            h1 {
                text-align: center;
            }
            .day {
                font-weight: bold;
            }
            .hour {
                text-align: right;
            }
            padding: 15px 0;
        }

        .description-container {
            background: #fafafa;
            padding: 0;
            .description-content {
                padding: 25px;
                h1 {
                    text-align: center;
                    font-weight: bold;
                }
            }
            .description {
                margin-bottom: 25px;
            }
        }
    }
    .reservation {
        color: white;
    }
    .funly {
        img {
            width: 20px;
        }
        font-weight: bold;
        background: var(--color-open-reservation);
    }
}
