<div class="open-reservation" *ngIf="reservation">



    <span class="reservation-countdown" [style.background]="reservation.game_category?.color">
        <span class="reservation-people-label">
            <em class="fa fa-user-group"></em>{{reservation.users?.length}}/{{reservation.max_people}} </span>

        <span class="countdown" *ngIf="!reservation.closed"> <em class="fa-regular fa-clock"></em>
            {{reservation.countdown}}</span>
        <span class="countdown" *ngIf="reservation.closed"> <em class="fa-regular fa-clock"></em>
            Plazo Cerrado</span>
    </span>


    <img class="reservation-image" [src]="reservation.game?.image" alt="" *ngIf="reservation.game?.image">
    <img class="reservation-image" src="assets/imgs/placeholder.png" alt="" *ngIf="!reservation.game?.image">


    <div class="reservation-data">
        <p class="reservation-title">{{reservation.game?.name}} </p>
        <div class="specifications" [style.color]="reservation.game_category?.color">
            <p class="rating">
                {{reservation.game?.rating}}<i class="fa fa-star"></i>
                &nbsp;
                {{reservation.game?.max_duration}} min<i class="fa fa-clock"></i>
                &nbsp;
                {{reservation.min_people}} - {{reservation.max_people}}<i class="fa fa-user-group"></i>
            </p>
        </div>
        <div class="categories">
            <span [style.background-color]="reservation.game_category?.background_color"
                [style.color]="reservation.game_category?.color">
                {{reservation.game_category?.name}} </span>
            <span [style.background-color]="'#ccc'" [style.color]="'black'" *ngIf="reservation.game_subcategory">
                {{reservation.game_subcategory.name}} </span>
        </div>

        <p class="game-address"><i class="fa-solid fa-location-dot"
                style="margin-right: 5px"></i>{{reservation.game?.address}}</p>

        <div class="text-divider" [style.color]="reservation.game_category?.color">{{actual_date_str == target_date_str
            ? 'Hoy' : reservation.date| date:'dd/MMM'}} - {{reservation.game_reservation_hour?.hour | slice:0:5}}</div>


        <div class="people">
            <p class="remaining-people" *ngIf="reservation.users?.length! < reservation.min_people!">Quedan <span
                    [style.color]="reservation.game_category?.color">{{reservation.min_people! -
                    reservation.users?.length!}} <i class="fa fa-user-group"></i> </span> para poder empezar</p>
            <p class="remaining-people" *ngIf="reservation.users?.length! >= reservation.min_people!">¡Listo para poder
                empezar!</p>
            <div class="row justify-content-center" *ngIf="people?.length!>0">
                <div class="user" *ngFor="let user of people;let i =index">
                    <img class="avatar" [src]="user.avatar" alt="" onError="this.src='assets/imgs/avatar.png'">
                    <p class="user-name">{{user.name}}</p>
                </div>

            </div>


        </div>

        <div class="reservation-price row">
            <div class="reservation-button col-4" [style.background-color]="reservation.game_category?.color" *ngIf="!joined">
                <p class="price">Únete a la reserva <span>{{reservation.price_per_user}}€</span> </p>
            </div>
            <div class="reservation-button col-4 my-auto" [style.background-color]="reservation.game_category?.color" *ngIf="joined">
                <p class="chat"><i class="fa fa-comments"></i> Ir al Chat</p>
            </div>
        </div>
    </div>
</div>