.header{
    border-bottom: 0.5px solid #ccc;
    height: 70vh;
    position: relative;
    
    video{
        filter: brightness(40%);
        width: 100%;
        object-fit: cover;
        height: 100%;
        z-index: 1;
        position: absolute;
    }
    .logo{
        z-index: 99;
    }
    .logo h1{
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        color:white;
    }
    .logo h1 {
        overflow: hidden; /* Ensures the content is not revealed until the animation */
        white-space: nowrap; /* Keeps the content on a single line */
        margin: 0 auto; /* Gives that scrolling effect as the typing happens */
        animation: 
          typing 2s steps(40, end),
          blink-caret .75s step-end infinite;
      }
      
      /* The typing effect */
      @keyframes typing {
        from { width: 0 }
        to { width: 100% }
      }
      
      /* The typewriter cursor effect */
      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: white }
      }
      
    .searchbar{
        z-index: 99;
        input{
            border-radius: 25px;
            border:1px solid #ccc;
            width: 70%;
            padding: 15px;
            font-size: 14px;
            margin-right: 10px;
        }
        input:focus{
            outline: none;
        }
        button{
            background-color:var(--color-primary) !important;
            font-size: 16px;
            font-weight: bold;
            padding: 15px;
            border:none;
            border-radius: 25px;
            width: 150px;
        }
    }
}