<div class="login-page">
    <video autoplay muted loop>
        <source src="assets/videos/neon.mp4" type="video/mp4" />
    </video>
    <div class="container text-center">

        <img class="logo" src="assets/imgs/logo-vertical-transparent.png" alt="">
        <p class="title">¡Abandona la rutina!</p>

        <form class="form row g-4" *ngIf="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text"> <i class="form-icon fa fa-user"></i> </div>
                    <input type="text" class="form-control" placeholder="Introducir nombre" formControlName="name">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text"> <i class="form-icon fa fa-envelope"></i> </div>
                    <input type="text" class="form-control" placeholder="Introducir email" formControlName="email">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text"><i class="form-icon fa fa-lock"></i></div>
                    <input type="password" class="form-control" placeholder="Introducir contraseña"
                        formControlName="password">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-text"><i class="form-icon fa fa-lock-open"></i></div>
                    <input type="password" class="form-control" placeholder="Confirmar contraseña"
                        formControlName="password_confirmation">
                </div>
            </div>

            <div class="col-12">
                <div class="input-group">
                    <button type="submit" class="btn-submit" [disabled]="!form.valid">Registrarse</button>
                </div>
            </div>

            <div class="col-12 text-center">
                <p>¿Ya tienes una cuenta? <u routerLink="/login"> Login</u></p>
            </div>
        </form>
    </div>
</div>