<div class="filters">
    <div class="filters-title">
        <p class="order-by"> FILTRAR POR <i class="fa fa-sliders"></i></p>
    </div>

    <div class="searchbar">
        <div class="input-container">
            <label for="location">Localidad o Ciudad</label>
            <input name="location" class="input" type="text" [(ngModel)]="autocompleteInput" #addresstext
                placeholder="Ciudad o región" [(ngModel)]="selected_address">
            <i class="close-icon fa fa-close" (click)="clearSelectedAddress()" *ngIf="selected_address"></i>
        </div>
        <div class="input-container">
            <label for="name">Nombre</label>
            <input name="name" class="input" type="text" placeholder="Nombre" [(ngModel)]="selected_name"
                (keyup)="checkName()">
            <i class="close-icon fa fa-close" (click)="clearSelectedName()" *ngIf="selected_name"></i>
        </div>
    </div>

    <div class="filter-items">
        <!-- Filtro precio -->
        <div class="filter">
            <p> Precio
                <input class="filter-input" type="number" [(ngModel)]="min_price" (ngModelChange)="changePriceInput($event)"> -
                <input class="filter-input" type="number" [(ngModel)]="max_price" (ngModelChange)="changePriceInput($event)"> €
            </p>
            <ng5-slider [value]="min_price" [highValue]="max_price" [options]="priceOptions"
                (userChangeEnd)="changePrice($event)">
            </ng5-slider>
        </div>

        <div class="filter">
            <p> Personas
                <input class="filter-input" type="number" [(ngModel)]="min_people" (ngModelChange)="changePeopleInput($event)"> -
                <input class="filter-input" type="number" [(ngModel)]="max_people" (ngModelChange)="changePeopleInput($event)">
            </p>

            <ng5-slider [value]="min_people" [highValue]="max_people" [options]="peopleOptions"
                (userChangeEnd)="changePeople($event)"></ng5-slider>
        </div>

        <div class="filter">
            <p> Duración
                <input class="filter-input" type="number" [(ngModel)]="min_duration" (ngModelChange)="changeDurationInput($event)"> -
                <input class="filter-input" type="number" [(ngModel)]="max_duration" (ngModelChange)="changeDurationInput($event)"> min
            </p>
            <ng5-slider [value]="min_duration" [highValue]="max_duration" [options]="durationOptions"
                (userChangeEnd)="changeDuration($event)"></ng5-slider>
        </div>

    </div>

    <div class="filters-title">
        <p class="filter-by">EVENTOS <i class="fa fa-list"></i></p>
    </div>

    <div class="form-check" *ngFor="let category of categories">
        <label class="form-check-label" for="nombre" >
            {{category.name}}
            <input class="form-check-input" name="Nombre" type="checkbox" value="{{category.id}}"
                (click)="selectCategory(category.id!)" [checked]="url_category_id == category.id">
        </label>

    </div>


    <div class="filters-title">
        <p class="order-by">TEMÁTICA <i class="fa fa-list"></i></p>
    </div>

    <div class="form-check" *ngFor="let subcategory of subcategories">
        <label class="form-check-label" for="nombre">
            {{subcategory.name}}
            <input class="form-check-input" name="Nombre" type="checkbox" value="{{subcategory.id}}"
                (click)="selectSubcategory(subcategory.id!)">
        </label>

    </div>










    <!-- <div class="filters-title">
        <p class="order-by">ORDENAR POR <i class="fa fa-sort"></i></p>
    </div>

    <div class="form-check">
        <label class="form-check-label" for="nombre">
            Precio (asc)
        </label>
        <input class="form-check-input" name="Nombre" type="radio" id="1">
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="radio" id="1">
        <label class="form-check-label" for="nombre">
            Precio (desc)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="radio" id="1">
        <label class="form-check-label" for="nombre">
            Personas
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="radio" id="1">
        <label class="form-check-label" for="nombre">
            Abierto ahora
        </label>
    </div>
 -->

</div>