::ng-deep {
    .ng5-slider .ng5-slider-bar {
        background: #ffe4d1 !important;
        height: 5px !important;
    }
    .ng5-slider .ng5-slider-selection {
        background: #fc5817 !important;
    }

    .ng5-slider .ng5-slider-pointer {
        width: 25px !important;
        height: 25px !important;
        top: -10px !important; /* to remove the default positioning */
        bottom: 0 !important;
        background-color: #fc5817 !important;
        border-radius: 50px !important;
    }
    .ng5-slider .ng5-slider-pointer:after {
        display: none !important;
    }

    .ng5-slider .ng5-slider-bubble {
        font-weight: bold !important;
        color: var(--color-primary) !important;
    }
}

.filters {
    box-shadow: var(--item-box-shadow);
    position: relative;
    border-radius: 10px;
    background: white;
    padding: 15px;
    width: 100%;
    .categories{
        margin: 0 auto;
        padding:20px;
    }
    .filter-items {
        padding: 10px;
    }
    p {
        margin: 0;
    }
    .form-check-label {
        font-weight: bold;
    }
    .form-check-input {
        transform: scale(1.2);
    }
    .filters-title {
        color: var(--color-primary);
        font-weight: bold;
        text-align: center;
        font-size: 16px;
        .filter-by {
            margin-bottom: 10px;
        }
        .order-by {
            margin: 10px;
        }
        .form-check {
            text-align: left;
            font-weight: lighter;

            color: black;
            font-size: 14px;
        }
        border-bottom: 1px solid #ccc;
    }
    .filter {
        font-size: 16px;
        margin-bottom: 10px;
        
        .filter-input {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color:var(--color-primary);
            width: 60px;
            border-radius: 5px;
            border:0.5px solid #b4b4b4;
        }
    }

    .filter-range-option {
        font-size: 16px;
        font-weight: bold;
        color: var(--color-primary);
    }
}
.map {
    box-shadow: var(--item-box-shadow);
    border-radius: 10px;
    background: white;
    height: auto;
    margin-bottom: 25px;
    margin-left: 25px;
    height: 500px;
    position: relative;
    img {
        border-radius: 10px 10px 0px 0px;
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    p {
        position: relative;
        padding: 5px;
        border-top: 1px solid #ccc;
        font-weight: bold;
        text-align: center;
        margin: 0;
        color: var(--color-primary);
    }
}
.map:hover {
    background-color: rgba(33, 33, 33, 0.05);
    cursor: pointer;
}

.searchbar {
    margin: 0 auto;
    position: relative;
    overflow: auto;
    .input-container {
        position: relative;
        padding: 15px;
        overflow: hidden;
      
        label {
            font-size: 16px;
            font-weight: bold;
            color: var(--color-primary);
            margin-bottom: 10px;
        }
        .close-icon {
            position: absolute;
            top: 55px;
            right: 40px;
            opacity: 0.5;
            cursor: pointer;
            font-size: 18px;
            color: var(--color-primary);
        }
    }
    input {
        border-radius: 15px;
        padding: 10px;
        padding-left: 15px;
        font-size: 14px;
        width: 100%;
        float: left;
        margin-bottom: 10px;
        border: none;
        box-shadow: var(--item-box-shadow);
    }
    .name {
        border-left: 1px solid #ccc;
        width: 100%;
    }

    input:focus {
        outline: none;
    }
}
@media (max-width: 902px) {
    .filters{
        border-radius: 0 !important;
    }
}
