<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" (click)="changeActualPage(actual_page-1)" *ngIf="actual_page>1">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">Anterior</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item" *ngFor="let page of pages">
            <a href="#" class="page-link {{actual_page == page ? 'active' : ''}}" (click)="changeActualPage(page)">{{page}}</a>
        </li>
        <li class="page-item" (click)="changeActualPage(actual_page+1)" *ngIf="actual_page!=totalPages">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">Siguiente</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>