
  /** CSS Variables **/

:root {
/** primary **/

    --color-primary:#fc5817;
    --color-secondary:#fcbf17;
    --color-open-reservation:#02c01e;
    --color-danger:#c91e2f;
    --gradient-primary:linear-gradient(var(--color-secondary),var(--color-primary));
    --color-primary-light:#f8d4b1;
    --color-dark:#4a1463;
    --item-box-shadow:1px 8px 18px 0 rgb(0 0 0 / 11%);

    --dark-background: #1b1b1b;
    --open-reservation-small-background: #2e2e2e;
    --chat-message-left-background:#373737;
    --chat-message-right-background:#fb692f;

    --light-background:#f2f2f2;
    --background:#b9b5b3;

}
  