
  /** CSS Variables **/

:root {
/** primary **/

    --color-primary:#6b1b91;
    --color-primary-light:#e8c1fa;
    --color-dark:#4a1463;
    --item-box-shadow:1px 8px 24px 0 rgb(0 0 0 / 11%);

    --dark-background: #343a40;
    --light-background:#eeefef;
    --background:#b9b5b3;

}
  