.rating i{
    margin-bottom: 5px;
    color:var(--color-primary);
    display: inline-block;
}
.rating{
    display: inline-block;
    .rating-number{
        font-weight: bold;
        margin-right: 5px;
    }
    .stars{
        width: auto;
        display: inline;
        float: left;
    }
    .ratings{
        p{
            margin: 0;
        }
        padding: 0;
        width: auto;
        float: left;
    }
}