<div class="reviews-summary-container row">
    <div class="col-6 my-auto reviews">
        <p class="rating" [style.color]="color"><span>{{summary?.avgStars}}</span>/5</p>
        <div class="stars">
            <i *ngFor="let item of [0,1,2,3,4]; let i = index"
                [class]="i + 1 <= summary?.avgStars! ? 'fa fa-star' : (summary?.avgStars! % 1 !==0 && round(summary?.avgStars!) == (i + 1)) ? 'fa fa-star-half-stroke':'fa-regular fa-star'"
                [style.color]="color"></i>
        </div>
        <p class="reviews-description">Basado en {{summary?.reviewsCount}} valoraciones</p>
    </div>
    <div class="col-6 reviews-summary">

        <div class="row">
            <div class="stars-number col my-auto">
                <span style="font-size:12px;font-weight: bold;" [style.color]="color">
                    5<i class="fa fa-star" ></i>
                </span>
            </div>
            <div class="bar col-8 my-auto">
                <mat-progress-bar  class="bar" [value]="summary?.fiveStars"></mat-progress-bar>
            </div>
            <div class="stars-count col my-auto">
                <span  style="font-size:12px">{{summary?.fiveStars}}</span>
            </div>
        </div>
        <div class="row">
            <div class="stars-number col my-auto">
                <span style="font-size:12px;font-weight: bold;" [style.color]="color">
                    4<i class="fa fa-star" ></i>
                </span>
            </div>
            <div class="bar col-8 my-auto">
                <mat-progress-bar class="bar" [value]="summary?.fourStars"></mat-progress-bar>
            </div>
            <div class="stars-count col my-auto">
                <span  style="font-size:12px">{{summary?.fourStars}}</span>
            </div>
        </div>
        <div class="row">
            <div class="stars-number col my-auto">
                <span style="font-size:12px;font-weight: bold;" [style.color]="color">
                    3<i class="fa fa-star" ></i>
                </span>
            </div>
            <div class="bar col-8 my-auto">
                <mat-progress-bar class="bar" [value]="summary?.threeStars" ></mat-progress-bar>
            </div>
            <div class="stars-count col my-auto">
                <span  style="font-size:12px">{{summary?.threeStars}}</span>
            </div>
        </div>
        <div class="row">
            <div class="stars-number col my-auto">
                <span style="font-size:12px;font-weight: bold;" [style.color]="color">
                    2<i class="fa fa-star" ></i>
                </span>
            </div>
            <div class="bar col-8 my-auto">
                <mat-progress-bar class="bar" [value]="summary?.twoStars" [color]="color"></mat-progress-bar>
            </div>
            <div class="stars-count col my-auto">
                <span  style="font-size:12px">{{summary?.twoStars}}</span>
            </div>
        </div>
        <div class="row">
            <div class="stars-number col my-auto">
                <span style="font-size:12px;font-weight: bold;" [style.color]="color">
                    1<i class="fa fa-star" ></i>
                </span>
            </div>
            <div class="bar col-8 my-auto" [appProgressBarColor]="color!">
                <mat-progress-bar mode="determinate"  [value]="summary?.oneStars"></mat-progress-bar>
            </div>
            <div class="stars-count col my-auto">
                <span  style="font-size:12px">{{summary?.oneStars}}</span>
            </div>
        </div>
      
    </div>
</div>