<div class="header row">

    <video oncanplay="this.play()" onloadedmetadata="this.muted = true" (loadeddata)="loading.stopLoading()" loop>
        <source src="assets/videos/neon.mp4" type="video/mp4" />
    </video>
    <div class="logo text-center">
        <h1 class="title">{{title}}</h1>
        <p class="subtitle">{{subtitle}}</p>
    </div>
    <div class="searchbar-container">
        <app-autocomplete-searchbar [selected_address]="selected_address" (searchFilter)="getFilter($event)"></app-autocomplete-searchbar>
    </div>
    
</div>


