.game{
    padding:15px;
    box-shadow: var(--item-box-shadow);
    position: relative;
    border-radius: 10px;
    background: white;
    margin-bottom: 15px;
    .game-logo img{
        float:left;
        min-width: 100%;
        max-width: 100%;
        min-height: 225px;
        max-height: 200px;
        overflow: hidden;
        object-fit: contain;
        background: var(--dark-background);
    }

    .game-content{
        position: relative;
        height: 100%;
        .reservation-button{
            position: absolute;
            top:85px;
            right:5px;    
            border-radius: 25px;
            font-weight: bold;
            background-color: var(--color-primary-light);
            padding:10px 20px 10px 20px;
            border:none;
        }
        .game-price{
            position: absolute;
            top: 0px;
            right: 10px;
            font-size: 14px;
            .price{
                font-size: 22px;
                font-weight: bold;
            }
        }
        .game-duration{
            position: absolute;
            top: 30px;
            right: 10px;
            font-size: 14px;
            .duration{
                font-size: 14px;
                font-weight: bold;
            }
        }
        .people{
            position: absolute;
            right: 10px;
            top: 55px;
            font-size: 14px;
            font-weight: bold;
        }
        .title{
            font-size: 24px;
            color:var(--color-primary);
            p{
                font-weight: bold;
                margin-bottom: 5px;
            }
            .enterprise{
                font-weight: lighter;
                color:black;
                font-size: 14px;
                margin: 0;
                margin-bottom: 5px;

            }
        }
        
        .categories{
            padding:5px;
            margin-bottom: 20px;
            span{
                margin-right: 5px;
                width: auto;
                display: inline;
                float: left;
                padding:5px 15px 5px 15px;
                border-radius: 25px;
            }
         }
             
         
        .data p{
            font-weight: 100;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .data{
            .comment{
                font-style: italic;
                color:gray;
                img{
                    width: 20px;
                    height: 20px;
                    object-fit: cover;
                    border-radius: 50%;
                    box-sizing: var(--item-box-shadow);
                }
            }
        }
        .address{
            p{
                margin: 0;
            }
            font-size: 12px;
            color:gray;
        }
    }
}
.game {
    transition: all 0.1s ease-in-out;
}
.game:hover{
    scale: 1.005;
    cursor: pointer;
}

@media (max-width: 902px) {
    .game-logo img{
       margin-bottom: 15px !important;
    }
    .game-content{
        .title{
            p{
                max-width: 50% !important;
            }
        }
        .address{
            max-width: 60% !important;
        }
        .rating{
            max-width: 50% !important;
        }
    }
}
