.content{
    background: var(--light-background);
    width: 100vw;
    
    .game-list-container{
        padding:40px;
        h1{
            margin-bottom: 25px;
            color: var(--color-primary);
            font-weight: bold;
        }
        .game-list{
            background: white;
            border: 0.5px solid #ccc;
            margin-bottom: 25px;
            
        }
       
        .pagination-footer{
            border: 0.5px solid #ccc;
            background-color: white;
            height: 10vh;
        }
        
    }
}
