<div class="content">

    <app-game-list-header (places)="searchGames($event)"></app-game-list-header>


    <div class="game-list-container row">
        <h1>Servicios de ocio en España: ¡Reserva ya!</h1>
        <div class="row">
            <div class="game-list col-9">
                <ng-container *ngIf="!isLoading">
                    <app-game-item *ngFor="let game of games" [game]="game"></app-game-item>
                </ng-container>
                <app-loading *ngIf="isLoading"></app-loading>

            </div>

            <div class="filters col-3">
                <app-game-list-filters></app-game-list-filters>
            </div>
        </div>

        <div class="row">
            <h2>Paginacion</h2>
        </div>
    </div>

    <app-game-list-footer></app-game-list-footer>
</div>