.content{
    background: white;
    width: 100vw;
    
    .open-reservations-title{
        color:var(--color-primary);
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 15px;
        padding-top: 5vh;
    }
    .open-reservations-description{
        color:black;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 15px;
        span{
            color:var(--color-primary);
            font-size: 22px;
        }
    }
    .open-reservations{
        width: 100vw;
        overflow: hidden;
        text-align: center;
        background: var(--dark-background);
        padding:20px;
        overflow-x: auto;
        white-space: nowrap;
    }
    .game-list-container{
        padding:40px;
        h1{
            margin-bottom: 25px;
            color: var(--color-primary);
            font-weight: bold;
        }
        .game-list{
         /*    background: white;
            border: 0.5px solid #ccc; */
            margin-bottom: 25px;
            
        }
       
        
        
    }
    .game-list-pagination{
        padding:15px;
        box-shadow: var(--item-box-shadow);
        position: relative;
        border-radius: 10px;
        background: white;
        margin-bottom: 15px;
        
    }
}
