.content{
    background: #f2f2f2;
    background-image: url(../../../assets/imgs/box-transparent-light.svg);
    background-repeat: space;
    background-size: 200px;
    z-index: 1;
    background-position: center;
    width: 100vw;
    .map{
        box-shadow: var(--item-box-shadow);
        border-radius: 10px;
        background: white;
        height: auto;
        margin-bottom: 25px;
        margin-left: 25px;
        height: 500px;
        position: relative;
       
    }
    .open-reservations-title{
        color:var(--color-primary);
        font-size: 32px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 15px;
        padding-top: 5vh;
    }
    .open-reservations-description{
        color:black;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 15px;
        span{
            color:var(--color-primary);
            font-size: 22px;
        }
    }
    .open-reservations{
        width: 100vw;
        overflow: hidden;
        text-align: center;
        background: #fafafa;
        overflow-x: auto;
        white-space: nowrap;
        position: relative;
        padding:50px;
        background-color: var(--dark-background);
        video{
            filter: brightness(50%);
            width: 100%;
            height: 100%;
            object-fit: cover;
            height: 100%;
            z-index: 1;
            left: 0;
            top: 0;
            position: absolute;
        }
    }
    .game-list-container{
        padding:40px;
        h1{
            margin-bottom: 25px;
            color: var(--color-primary);
            font-weight: bold;
        }
        .game-list{
         /*    background: white;
            border: 0.5px solid #ccc; */
            margin-bottom: 25px;
            
        }
       
        
        
    }
    .game-list-pagination{
        padding:15px;
        box-shadow: var(--item-box-shadow);
        position: relative;
        border-radius: 10px;
        background: white;
        margin-bottom: 15px;
        
    }
}
