<div class="content">

    <app-game-list-header (places)="filterGamesByAddress($event)" (removeAddress)="removeAddress()"></app-game-list-header>


    <div class="game-list-container row">
        <div class="row">
            <div class="game-list col-9">
                <ng-container *ngIf="!isLoading && filteredGames.length> 0">
                    <app-game-item *ngFor="let game of filteredGames" [game]="game"></app-game-item>
                </ng-container>
                <ng-container *ngIf="!isLoading && filteredGames.length<= 0">
                    <h1>Lo sentimos no hay eventos disponibles en {{address_selected}}, aquí tienes resultados similares</h1>
                    <app-game-item *ngFor="let game of games" [game]="game"></app-game-item>
                </ng-container>

                <ng-container *ngIf="!isLoading && filteredGames.length< 3 && filteredGames.length>0">
                    <h1 style="margin-bottom: 100px">Resultados similares</h1>
                    <app-game-item *ngFor="let game of games" [game]="game"></app-game-item>
                </ng-container>

                <app-loading *ngIf="isLoading"></app-loading>

            </div>

            <div class="filters col-3">
                <app-game-list-filters></app-game-list-filters>
            </div>
        </div>

        <div class="row">
            <h2>Paginacion</h2>
        </div>
    </div>

    <app-game-list-footer></app-game-list-footer>
</div>