<div class="profile-container content" [hidden]="(loading.isLoading| async)">
    <div class="row user-container justify-content-center">
        <div class="user-data col-lg-10 col-12 row item">
            <p class="user-data-title">Editar datos del usuario <i class="fa fa-pencil"></i></p>
            <div class="user-data-content col-lg-6 col-12 my-auto">

                <div class="col-12 user-avatar ">
                    <img [src]="user.avatar" alt="" *ngIf="!user.upload_image" >
                    <img [src]="user.upload_image" alt="" *ngIf="user.upload_image" >

                </div>
                <div class="col-12">
                    <input name="imageUrl" type="file" accept="image/*" (change)="setImageBase64($event)" />

                </div>
                <div class="col-12">
                    <p class="user-name"><img src="assets/imgs/box-transparent.svg" style="width: 30px;" alt=""> {{user.name}}</p>
                    <p class="user-alias"><i class="fa-brands fa-twitter"
                            *ngIf="user.twitter_user"></i>{{user.twitter_user
                        ? user.twitter_user :
                        user.name}}</p>
                </div>

                <div class="col-lg-12 col-12 ">
                    <button class="logout-btn btn" (click)="logout()"><i class="fa-solid fa-power-off"></i> Cerrar Sesión</button>
                </div>
            </div>
            <div class="user-data-form col-lg-6  col-12 my-auto">
                <div class="form-item row justify-content-center">
                    <label for="name"> <i class="fa fa-user"></i> Nombre de usuario  </label>
                    <input type="text" placeholder="Tu nombre de usuario" [(ngModel)]="user.name">
                </div>
                <div class="form-item row justify-content-center">
                    <label for="name"> <i class="fa fa-envelope"></i> Correo electrónico </label>
                    <input type="mail" placeholder="Tu correo electrónico" [(ngModel)]="user.email">
                </div>
                <div class="form-item row justify-content-center">
                    <label for="name"> <i class="fa fa-mobile"></i> Teléfono</label>
                    <input type="text" placeholder="Tu usuario de twitter" [(ngModel)]="user.phone">
                </div>
                <div class="form-item row justify-content-center">
                    <label for="name"><i class="fa-brands fa-instagram"></i> Instagram  </label>
                    <input type="text" placeholder="Tu usuario de instagram" [(ngModel)]="user.instagram_user">
                </div>
                <div class="form-item row justify-content-center">
                    <label for="name"><i class="fa-brands fa-facebook"></i> Facebook </label>
                    <input type="text" placeholder="Tu usuario de Facebook" [(ngModel)]="user.facebook_user">
                </div>
                <div class="form-item row justify-content-center">
                    <label for="name"> <i class="fa-brands fa-twitter"></i> Twitter </label>
                    <input type="text" placeholder="Tu usuario de twitter" [(ngModel)]="user.twitter_user">
                </div>
                
            </div>
            <div class="col-12">
                <div class="row justify-content-center user-summary">
                    <div class="col-lg-3 col-12  my-auto user-summary-item">
                        <p class="position-second"><i class="fa-solid fa-hashtag"></i> <span> 2</span> en el ranking
                        </p>
                    </div>
                    <div class="col-lg-3 col-12 my-auto user-summary-item">
                        <p> <i class="fa fa-building"></i> <span> 12</span> eventos completados </p>
                    </div>
                    <div class="col-lg-3 col-12 my-auto user-summary-item">
                        <p><img src="assets/imgs/box-transparent-dark.svg" style="width:25px;" alt="">
                            <span> {{user.funly_points}} </span>puntos conseguidos
                        </p>
                    </div>
                    <div class="col-lg-3 col-12 my-auto user-summary-item">
                        <p><img src="assets/imgs/box-transparent.svg" style="width:25px;" alt="">
                            <span> {{user.funly_points}} </span> puntos disponibles
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-lg-10 col-12 justify-content-center row">
            <div class="open-reservations-container row item col-12">
                <p class="open-reservations-title"><i class="fa fa-building"></i> Reservas FUNLY <img src="assets/imgs/box-transparent.svg" style="width: 20px;" alt=""></p>
                <ng-container *ngIf="openReservations.length<=0">
                    <p class="open-reservations-void">No tienes ninguna reserva FUNLY <img src="assets/imgs/box-transparent.svg" style="width: 20px;" alt=""> </p>
                    <button class="btn" routerLink="/search">¡Reserva ya!</button>
                </ng-container>

                <div class="open-reservations my-auto" *ngIf="openReservations.length>0">
                    <app-open-reservation [joined]="true" routerLink="/chats"
                        [reservation]="reservation" *ngFor="let reservation of openReservations">
                    </app-open-reservation>
                </div>

            </div>

            <div class="completed-games row item col-12">
                <p class="completed-games-title"><i class="fa fa-building"></i> Reservas tradicionales</p>
                <ng-container *ngIf="reservations.length<=0">
                    <p class="reservations-void">No tienes ninguna reserva tradicional</p>
                    <button class="btn" routerLink="/search">¡Reserva ya!</button>
                </ng-container>
                <div class="completed-games-container">
                    <div class="completed-game-item justify-content-center row" *ngFor="let reservation of reservations">
                        <div class="col-lg-7 row col-12 justify-content-center my-auto text-center">
                            <div class=" col-lg-2 col-12 my-auto" routerLink="/search/{{reservation.game_id}}/interior">
                                <img class="game-image " [src]="reservation.game?.image" alt="">
                            </div>
                            <div class="col-lg-8 row">
                                <div class="col-lg-12 my-auto">
                                    <p class="game-name">{{reservation.game?.name}}</p>
                                    <p class="game-address"><i class="fa fa-location-dot"></i> {{reservation.game?.address}}</p>
                                    <p class="reservation-date">{{reservation.date}} - {{reservation.game_reservation_hour?.hour | slice:0:5}}</p>
                                    <app-rating [rating]="reservation.game?.rating!" [reviews]="reservation.game?.reviewsCount!" [color]="reservation.game?.category?.color"></app-rating>
                                    <div class="categories row justify-content-center">
                                        <span [style.background]="reservation.game?.category?.color"><i class="fa fa-clock"></i> {{reservation.game?.min_duration}}-{{reservation.game?.max_duration}} min</span>
                                        <span [style.background]="reservation.game?.category?.color"><i class="fa fa-user-group"></i> {{reservation.people}} personas</span>
                                        <span [style.background]="reservation.game?.category?.color"><i class="fa fa-money-bill"></i> {{reservation.game_price?.price}} €</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 col-12 my-auto justify-content-center row text-center">

                            <div class="col my-auto">
                                <p class="game-points"><img src="assets/imgs/box-transparent.svg" style="width:35px;"
                                        alt=""> 0/{{reservation.game?.funly_points}}</p>
                            </div>
                            <div class="col-lg col-12 my-auto">
                                <button class="btn" [style.background]="reservation.game?.category?.color"><i class="fa fa-star"></i> Valorar</button>
                            </div>
                            <div class="col-lg col-12 my-auto">
                                <button class="btn" [style.background]="reservation.game?.category?.color"><i class="fa fa-plus"></i> Detalle</button>
                            </div>
                           
                        </div>
                    </div>

                </div>
            </div>
        </div>
       
    </div>
</div>

<app-loading [hidden]="!(loading.isLoading| async)"></app-loading>

<home-footer [hidden]="(loading.isLoading| async)"></home-footer>