.profile-container {
    padding: 2vw 5vw;
    overflow-x: hidden;

    .btn {
        background: var(--color-primary);
        border: none;
        border-radius: 25px;
        color: white;
        i {
            color: white !important;
        }
        margin: 5px;
    }
    .logout-btn {
        background: var(--dark-background);
    }
    .logout-btn:hover {
        background: var(--color-primary);
    }
    .btn:hover {
        background-color: var(--dark-background);
    }
    .item {
        background: white;
        border-radius: 10px;
        box-shadow: var(--item-box-shadow);
        padding: 20px;
    }
    .user-container {
        .user-data {
            i {
                color: var(--color-primary);
            }
            text-align: center;
            background: white;
            border-radius: 10px;
            box-shadow: var(--item-box-shadow);
            height: 0%;
            transition: 0.2s ease;
            padding: 30px;
            margin: 0px 0px 30px 0px;
            .user-data-title {
                font-size: 24px;
                font-weight: bold;
                padding-bottom: 20px;
                border-bottom: 0.5px solid #ccc;
            }
            .user-data-content {
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .user-data-form {
                padding: 20px;
                .form-item {
                    padding: 5px;
                    label {
                        font-size: 16px;
                        font-weight: bold;
                        padding: 10px;
                        text-align: start;
                    }
                    input {
                        padding: 10px;
                        border: none;
                        box-shadow: var(--item-box-shadow);
                        border-radius: 5px;
                    }
                    input:focus {
                        outline-color: var(--color-primary);
                    }
                }
            }
            .user-avatar {
                .banner {
                    border-radius: 15px 15px 0 0;
                    background-color: var(--dark-background);
                    background-image: url(../../../assets/imgs/box-transparent-dark.svg);
                    cursor: pointer;
                    display: block;
                    animation: spin 300s linear infinite;
                    background-size: 200px;
                    z-index: 1;
                    background-position: center;
                    height: 30vh;
                    position: absolute;
                    i {
                        color: white;
                        font-size: 24px;
                        top: 25px;
                        position: absolute;
                        right: 25px;
                    }
                    img {
                        border-radius: 15px 15px 0 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        object-fit: cover;
                    }
                }
                #file-input {
                    display: none;
                }
                position: relative;
                .avatar-content {
                    position: relative;
                    width: fit-content;
                    margin: 0 auto;
                    .user-online {
                        position: absolute;
                        bottom: 24px;
                        right: 30px;
                        background: var(--color-open-reservation);
                        height: 35px;
                        width: 35px;
                        border: 5px solid white;
                        border-radius: 50px;
                        z-index: 9;
                    }
                }
                .user-image {
                    cursor: pointer;
                    background: white;
                    margin-top: 15vh;
                    z-index: 2;
                    border: 10px solid white;
                    position: relative;
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-bottom: 15px;
                }
            }

            .user-name {
                font-weight: bold;
                font-size: 32px;
                text-transform: capitalize;
                margin-bottom: 5px;
            }
            .user-alias {
                color: #ccc;
                font-style: italic;
                font-size: 18px;
                margin-bottom: 25px;
            }
            .user-summary {
                border-top: 0.5px solid #ccc;
                padding-top: 15px;
                .user-summary-item {
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: var(--dark-background);
                    font-weight: bold;
                    p {
                        margin: 0;
                        span {
                            font-size: 22px;
                        }
                        font-size: 22px;
                        i {
                            font-size: 20px;
                            color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }

    .open-reservations-container {
        padding: 20px 0px;
        background-color: var(--dark-background);
        background-image: url(../../../assets/imgs/box-transparent-dark.svg);
        background-size: 200px;
        z-index: 1;
        animation: spin 300s linear infinite;
        @keyframes spin {
            100% {
                background-position-x: 0;
                background-position-y: 0;
            }
            0% {
                background-position-x: 10000px;
                background-position-y: 10000px;
            }
        }
        background-position: center;
        margin-bottom: 35px;
        .open-reservations {
            width: 100%;
            overflow: hidden;
            text-align: center;
            overflow-x: auto;
            white-space: nowrap;
            position: relative;
        }
        .open-reservations-title {
            font-weight: bold;
            text-align: center;
            font-size: 24px;
            color: white;
            margin-bottom: 20px;
        }
        .open-reservations-void {
            font-weight: bold;
            text-align: center;
            font-size: 18px;
            color: white;
        }
    }
  

    .completed-games,
    .open-reservations {
        margin-bottom: 35px;
        .reservations-void {
            font-weight: bold;
            text-align: center;
            font-size: 18px;
            color: black;
        }
        .completed-games-title {
            font-weight: bold;
            text-align: center;
            font-size: 24px;
        }
        .completed-games-container,
        .reserved-games-container {
            .completed-game-item {
                padding: 25px;
                border-top: 0.5px solid #ccc;
                background: #fafafa;
                transition: ease 0.2s;
                .game-image {
                    width: 125px;
                    height: 125px;
                    cursor: pointer;
                    object-fit: cover;
                }
                .game-name {
                    font-weight: bold;
                    font-size: 24px;
                    text-align: center;
                    margin: 0;
                }
                .game-address {
                    font-size: 14px;
                    color: rgb(147, 147, 147);
                    margin: 0;
                }
                .reservation-date {
                    margin-top: 5px;
                    font-size: 24px;
                    font-weight: bold;
                }
                .categories {
                    padding: 5px;
                    margin-bottom: 20px;
                    span {
                        background: var(--color-primary);
                        color: white;
                        margin: 5px;
                        width: auto;
                        display: inline;
                        float: left;
                        padding: 5px 15px 5px 15px;
                        border-radius: 25px;
                    }
                }
                .completed-game {
                    border-radius: 25px;
                    background: var(--color-open-reservation);
                    color: white;
                    font-weight: bold;
                    font-size: 18px;
                    padding: 10px;
                    width: auto;
                    margin-bottom: 15px;
                }
                .game-points {
                    font-weight: bold;
                    font-size: 24px;
                }
            }
            .completed-game-item:hover {
                transform: scale(1.009);
            }
        }
    }
}
@media (max-width: 902px) {
    .user-container {
        padding: 0 !important;
    }
    .user-data-content {
        padding: 0 !important;
    }
    .item {
        border-radius: 0px !important;
    }
    .profile-container {
        padding: 0px !important;
        padding-bottom: 20vh !important;
    }
}
