<div class="standard-reservation game-item justify-content-center row">
    <h1>¡Reserva individual o grupal cuando quieras!</h1>
    <p class="funly-reservation-description">En {{game?.name}} hay que reservar con <span class="reservation-margin-hours" [style.color]="game?.category?.color">{{game?.reservation_margin_hours}} horas de antelación </span></p>
    <div class="calendar justify-content-center  row">
        <div class="col-lg-6 col-12 my-auto" [matCalendarColor]="game?.category?.color!">
            <mat-calendar (selectedChange)="changeDate($event)" [selected]="day_selected" [dateFilter]="dateFilter">
            </mat-calendar>
        </div>
        <div class="col-lg-6 col-12 my-auto" *ngIf="day_selected">
            <div class="row justify-content-center  select-hour">
                <p class="title-hour">¡Elige una hora!</p>
                <p>Para el día {{day_selected | date}}</p>
                <div class="hours-container">
                    <ng-container *ngFor="let hour of disponible_hours">
                        <span [ngClass]="hour.id == hour_selected?.id ? 'hour hour-selected':'hour'"
                            *ngIf="!hour.closed" (click)="selectHour(hour)"><i class="fa-solid fa-door-open"></i>
                            {{hour.hour |
                            slice:0:5}}</span>
                        <span class="hour-disabled" *ngIf="hour.closed"> <i
                                class="fa-solid fa-door-closed"></i>{{hour.hour |
                            slice:0:5}}</span>
                    </ng-container>
                </div>
            </div>
            <div class="row justify-content-center  modality-btns">
                <p class="title-hour">¡Elige una modalidad!</p>
                <div class="col-lg-6 col-12">
                    <span [ngClass]="is_individual ? 'modality-btn modality-selected' : 'modality-btn' "
                        (click)="setIndividualReservation(true)">
                        Reserva individual <img src="assets/imgs/box-transparent.svg" style="width:20px;">
                        <span class="discount" [style.background]="game?.category?.color">-10%</span>
                    </span>
                </div>
                <div class="col-lg-6 col-12">
                    <span [ngClass]="is_individual ? 'modality-btn ' : 'modality-btn modality-selected' "
                        (click)="setIndividualReservation(false)">Reserva grupal estándar</span>
                </div>
            </div>

            <div class="row justify-content-center  select-price" *ngIf="!is_individual && hour_selected">
                <p class="title-hour">¡Elige un precio!</p>
                <div class="prices-container">
                    <span [ngClass]="price.id == price_selected?.id ? 'price price-selected':'price'"
                        *ngFor="let price of game?.prices" (click)="selectPrice(price)"><i
                            class="fa-solid fa-user-group"></i>
                        {{price.people}} - {{price.price}}€</span>
                </div>
            </div>

        </div>

    </div>

    <div class="row justify-content-center  reservation-overview" *ngIf="day_selected && hour_selected && price_selected && !is_individual">
        <div class="row justify-content-center ">
            <p class="title">Resumen Reserva Grupal:</p>
            <p class="day">Día: <span [style.color]="game?.category?.color" class="day-selected"> {{day_selected
                    | date}}</span> a la hora: <span [style.color]="game?.category?.color" class="hour-selected">
                    {{hour_selected.hour|
                    slice:0:5}}</span></p>
            <p class="total_price">Precio Total: <span [style.color]="game?.category?.color" class="price-selected">
                    {{price_selected.price}}€</span></p>
            <p class="person_price">Precio Persona: <span [style.color]="game?.category?.color" class="price-selected">
                    {{price_selected.price!/price_selected.people! | number }}€</span>
            </p>
        </div>
        <div class="col-12">
            <button class="reservation-btn" (click)="createReservation()"
                [style.background]="game?.category?.color">¡Reserva ya!</button>
        </div>
    </div>
    
    <div class="row justify-content-center  reservation-overview" *ngIf="day_selected && hour_selected && is_individual">
        <p class="funly-reservation-description">Crea ya una reserva FUNLY <img src="assets/imgs/box-transparent.svg" style="width:20px" alt="">, ¡las personas interesadas en asistir a esa hora se unirán y chatea con ellos!</p>
        <p class="funly-reservation-description">En {{game?.name}} hay que reservar con <span class="reservation-margin-hours" [style.color]="game?.category?.color">{{game?.reservation_margin_hours}} horas de antelación </span></p>
        <div class="row justify-content-center ">
            <app-new-open-reservation [date]="day_selected" [game]="game!" [hour]="hour_selected"></app-new-open-reservation>
        </div>
    </div>
</div>