<div class="map">
    <img src="assets/imgs/map.png" alt="">
    <p>VER RESULTADOS EN EL MAPA</p>
</div>

<div class="filters">
    <div class="filters-title">
        <p class="filter-by"> FILTRAR POR <i class="fa fa-sliders"></i></p>
    </div>


    <!-- Filtro precio -->
    <div class="filter">
        <p> Precio <span class="filter-range-option">{{min_price_selected}}€ -
                {{max_price_selected}}€</span></p>
        <npn-slider [min]="min_price" [max]="max_price" (onChange)="changePrice($event)"></npn-slider>
    </div>

    <div class="filter">
        <p> Personas <span class="filter-range-option">{{min_people_selected}} -
                {{max_people_selected}}</span></p>
        <npn-slider [min]="1" [max]="30" (onChange)="changePeople($event)"></npn-slider>
    </div>

    <div class="filter">
        <p> Duración <span class="filter-range-option">{{min_duration_selected}} -
                {{max_duration_selected}} min</span></p>
        <npn-slider [min]="10" [max]="180" (onChange)="changeDuration($event)"></npn-slider>
    </div>


    <div class="filters-title">
        <p class="order-by">EVENTOS <i class="fa fa-list"></i></p>
    </div>

    <div class="form-check">
        <label class="form-check-label" for="nombre">
            Scape Room
            <input class="form-check-input" name="Nombre" type="checkbox" id="1">
        </label>
        
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="checkbox" id="1">
        <label class="form-check-label" for="nombre">
            Laser Tag
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="checkbox" id="1">
        <label class="form-check-label" for="nombre">
            Carts
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="checkbox" id="1">
        <label class="form-check-label" for="nombre">
            Otro
        </label>
    </div>

    <div class="filters-title">
        <p class="order-by">TEMÁTICA <i class="fa fa-list"></i></p>
    </div>

    <div class="form-check">
        <label class="form-check-label" for="nombre">
            Miedo
            <input class="form-check-input" name="Nombre" type="checkbox" id="1">
        </label>
        
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="checkbox" id="1">
        <label class="form-check-label" for="nombre">
            Acción
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="checkbox" id="1">
        <label class="form-check-label" for="nombre">
            Aventura
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="checkbox" id="1">
        <label class="form-check-label" for="nombre">
            Misterio
        </label>
    </div>



    <div class="filters-title">
        <p class="order-by">ORDENAR POR <i class="fa fa-sort"></i></p>
    </div>

    <div class="form-check">
        <label class="form-check-label" for="nombre">
            Precio (asc)
        </label>
        <input class="form-check-input" name="Nombre" type="radio" id="1">
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="radio" id="1">
        <label class="form-check-label" for="nombre">
            Precio (desc)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="radio" id="1">
        <label class="form-check-label" for="nombre">
            Personas
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" name="Nombre" type="radio" id="1">
        <label class="form-check-label" for="nombre">
            Abierto ahora
        </label>
    </div>


</div>