<div class="header row">
    <div class="city-selected">
        <p> <i class="search-icon fa fa-location-dot"></i>
            {{address_selected}}</p>
    </div>
    <video autoplay loop>
        <source src="assets/videos/neon.mp4" type="video/mp4" />
    </video>
    <div class="logo text-center">
        <h1 class="title">{{title}}</h1>
        <p class="subtitle">{{subtitle}}</p>
    </div>
    <div class="searchbar-container">
        <app-autocomplete-searchbar (places)="getPlaces($event)"></app-autocomplete-searchbar>
    </div>

</div>