<div class="col-md-4  col-sm-12 ">
    <div class=" description-container">
        <div class="map">
            <img src="assets/imgs/map.png" alt="">
            <!-- <app-map></app-map> -->
        </div>
        <div class="description-content">
            <div class="game-description">
                <h1>{{game.category?.name}}</h1>
                <p class="description">
                    {{game.category?.description}}
                </p>
            </div>
            <div class="row description-item">
                <h1 style="margin:0;">Valoraciones</h1>
                <app-reviews-summary [summary]="game.gameReviewSummary!" [color]="game.category?.color!">
                </app-reviews-summary>
            </div>
            <div class="row especifications description-item">
                <h1>Especificaciones</h1>
                <div class="col-6">
                    <p>Duracion <span [style.color]="game.category?.color"><i class="fa fa-clock"></i>
                            {{game.max_duration}}</span></p>

                </div>
                <div class="col-6">
                    <p>Personas <span [style.color]="game.category?.color">{{game.min_people}}-{{game.max_people}}
                            <i class="fa fa-user-group"></i></span>
                    </p>
                </div>
                <div class="col-6" *ngIf="game.difficulty">
                    <p>Dificultad <span [style.color]="game.category?.color"> {{game.difficulty}}/10 <i
                                class="fa fa-lock"></i></span>
                    </p>

                </div>
                <div class="col-6" *ngIf="game.funly_points">
                    <p class="points">Puntos Funly <span [style.color]="'var(--color-primary)'"> {{game.funly_points}}
                            <img src="assets/imgs/box-transparent.svg" alt=""></span></p>

                </div>
            </div>


            <div class="row phone description-item" *ngIf="game.user?.phone">
                <h1>Teléfono</h1>
                <div class="col-6">
                    <p><i class="fa fa-mobile" [style.color]="game.category?.color"></i> {{game.user?.phone}}</p>
                </div>
                <div class="col-6">
                    <span class="call-btn" [style.background]="game.category?.color">Llamar</span>
                </div>
            </div>

            <div class="row contact description-item">
                <h1>Redes sociales</h1>
                <div class="col-6">
                    <p><i class="fa fa-envelope" [style.color]="game.category?.color"></i> {{game.user?.email}}</p>


                </div>
                <div class="col-6" *ngIf="game.user?.instagram_user">
                    <p><i class="fa-brands fa-instagram" [style.color]="game.category?.color"></i>
                        {{game.user?.instagram_user}}</p>

                </div>
                <div class="col-6" *ngIf="game.user?.facebook_user">
                    <p><i class="fa-brands fa-facebook" [style.color]="game.category?.color"></i>
                        {{game.user?.facebook_user}}</p>


                </div>
                <div class="col-6" *ngIf="game.user?.twitter_user">
                    <p><i class="fa-brands fa-twitter" [style.color]="game.category?.color"></i>
                        {{game.user?.twitter_user}}
                    </p>

                </div>

            </div>


            <div class="row schedule" *ngIf="game.schedule?.length!>0">
                <h1>Horario de apertura</h1>
                <ng-container *ngFor="let schedule of game.schedule">
                    <div class="col-6 day">
                        <p *ngIf="schedule?.day == 1">Lunes</p>
                        <p *ngIf="schedule?.day == 2">Martes</p>
                        <p *ngIf="schedule?.day == 3">Miércoles</p>
                        <p *ngIf="schedule?.day == 4">Jueves</p>
                        <p *ngIf="schedule?.day == 5">Viernes</p>
                        <p *ngIf="schedule?.day == 6">Sábado</p>
                        <p *ngIf="schedule?.day == 7">Domingo</p>
                    </div>
                    <div class="col-6 hour">
                        <p>{{schedule?.opening_time | slice:0:5}} - {{schedule?.closing_time | slice:0:5}}</p>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>
    <div class="recomendations">
        <h1 class="recomendations-title">Eventos FUNLY <img src="assets/imgs/box-transparent.svg" width="20px">
            similares</h1>

        <div class="recomendations-container">

            <div class="recomendation row">
                <div class="col-6">
                    <img class="recomendation-image" src="assets/imgs/scape.jpeg" alt="">
                    <p class="recomendation-title">Los invitados scape room
                    </p>
                    <p class="rating" [style.color]="game.category?.color">
                        {{game.rating}}
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </p>
                    <div class="recomendation-categories">
                        <span>Scape Room</span>
                        <span>Miedo</span>
                    </div>
                </div>
                <div class="col-6 my-auto">
                    <div class="review-container" *ngFor="let review of game.gameReviewSummary?.featuredReviews">
                        <p class="title">- "{{review?.text}}"</p>
                        <p class="stars">
                            <img class="avatar" [src]="review?.user?.avatar" alt="">
                            <i *ngFor="let item of [0,1,2,3,4]; let i = index"
                                [class]="i + 1 <= review?.stars! ? 'fa fa-star' : (review.stars! % 1 !==0 && round(review.stars!) == (i + 1)) ? 'fa fa-star-half-stroke':'fa-regular fa-star'"
                                [style.color]="game.category?.color"></i>
                            {{review?.created_at | date}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="recomendation row">
                <div class="col-6">
                    <img class="recomendation-image" src="assets/imgs/scape.jpeg" alt="">
                    <p class="recomendation-title">Los invitados scape room
                    </p>
                    <p>
                        <app-rating [rating]="3" [reviews]="120" [color]="game.category?.color"></app-rating>
                    </p>
                    <div class="recomendation-categories">
                        <span>Scape Room</span>
                        <span>Miedo</span>
                    </div>
                </div>
                <div class="col-6 my-auto">
                    <div class="review-container" *ngFor="let review of game.gameReviewSummary?.featuredReviews">
                        <p class="title">- "{{review?.text}}"</p>
                        <p class="stars">
                            <img class="avatar" [src]="review?.user?.avatar" alt="">
                            <i *ngFor="let item of [0,1,2,3,4]; let i = index"
                                [class]="i + 1 <= review?.stars! ? 'fa fa-star' : (review.stars! % 1 !==0 && round(review.stars!) == (i + 1)) ? 'fa fa-star-half-stroke':'fa-regular fa-star'"
                                [style.color]="game.category?.color"></i>
                            {{review?.created_at | date}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>