.description-container {
    background: white;
    padding: 0;
    border:0.5px solid #ccc;
    border-radius: 10px;
    box-shadow: var(--item-box-shadow);
    z-index: 2;
    .map {
        border-bottom:0.5px solid #ccc;
        
    }
    .description-item {
        text-align: center;
        font-size: 14px;
        border-bottom: 0.5px solid #ccc;
        padding: 15px 0;
    }
    .especifications {
        span {
            color: var(--color-primary);
            font-weight: bold;
            font-size: 18px;
        }
        .points{
            img {
                width: 20px;
            }
        }
        
    }
    .phone {
        p {
            font-size: 18px;
        }
        .call-btn {
            color: white;
            border-radius: 25px;
            font-size: 18px;
            padding: 5px 15px 5px 15px;
        }
    }
    .contact {
        i {
            font-size: 22px;
        }
        h1 {
            text-align: center;
            font-weight: bold;
        }

        .phone {
            font-size: 16px;
        }
    }
    .schedule {
        h1 {
            text-align: center;
        }
        .day {
            font-weight: bold;
        }
        .hour {
            font-size: 18px;
            text-align: right;
        }
        padding: 15px 0;
    }
    .description-content {
        padding: 25px;
        h1 {
            text-align: center;
            font-weight: bold;
        }
    }
    .description {
        margin-bottom: 25px;
    }
    .game-description{
      
        border-bottom: 0.5px solid #ccc;

    }
}
