<div class="footer justify-content-center row">
    <div class="logo col-lg-2 col-12 my-auto">
        <img src="assets/imgs/logo-transparent.png" alt="">
    </div>
    <div class="text col-lg-2 col-12 my-auto">
        <p>Reserva con nosotros</p>
        <p>Scape Rooms</p>
        <p>Laser tag</p>
        <p>Carts</p>
    </div>
    <div class="text col-lg-2 col-12 my-auto">
        <p>Empresas</p>
        <p>Contacto</p>
        <p>Preguntas frecuentes</p>
        <p>Añadir evento</p>
    </div>
    <p class="copyright">2022 Funly SL, Todos los derechos reservados</p>
</div>