.footer{
    box-shadow:var(--item-box-shadow);
    background-color: var(--dark-background);
    background-image: url(../../../../assets/imgs/box-transparent-dark.svg);
    background-size: 200px;
    z-index: 1;
    background-position: center;
    color:white;
    padding:50px 15px 50px 15px;
    position: relative;
    margin: 0;
    width: 100%;
    text-align: center;
    
    .logo img{
        width: 225px;
        padding:20px;
    }
    .copyright{
        position: absolute;
        font-size: 10px;
        color:#ccc;
        width: auto;
        bottom: 15px;
        right: 15px;
    }
    animation: spin 4s linear infinite;       
}

@keyframes spin {
    100% {
        background-position-x: 0;

    }
    0%{
        background-position-x: 200px;

    }

}