.footer{
    box-shadow:var(--item-box-shadow);
    background-color: var(--dark-background);
    background-image: url(../../../../assets/imgs/box-transparent-dark.svg);
    background-repeat: space;

    background-size: 200px;
    z-index: 1;
    background-position: center;
    color:white;
    padding:20px;
    position: relative;
    height: 30vh;
    .logo img{
        width: 150px;
    }
    .copyright{
        position: absolute;
        font-size: 10px;
        color:#ccc;
        width: auto;
        bottom: 15px;
        right: 15px;
    }
}